In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows=120

## Import Datasets

In [2]:
listings = pd.read_csv('../Lisbon-Portugal-data/listings.csv', low_memory=False)
listings_two = pd.read_csv('../Lisbon-Portugal-data/listings-2.csv')
calendar = pd.read_csv('../Lisbon-Portugal-data/calendar.csv', low_memory=False)
neighborhoods = pd.read_csv('../Lisbon-Portugal-data/neighbourhoods.csv')
# reviews = pd.read_csv('../Lisbon-Portugal-data/reviews.csv', low_memory=False)
# reviews_two = pd.read_csv('../Lisbon-Portugal-data/reviews-2.csv', low_memory=False)

## Examine Data

In [3]:
listings.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_listings_count,host_total_listings_count,latitude,longitude,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,2.430200e+04,2.430200e+04,0.0,0.0,0.0,2.430200e+04,24301.000000,24301.000000,24302.000000,24302.000000,...,19886.000000,19875.000000,19880.00000,19877.000000,19875.000000,24302.000000,24302.000000,24302.000000,24302.00000,20075.000000
mean,2.257234e+07,2.020053e+13,NaN,NaN,NaN,9.490641e+07,20.291840,20.291840,38.755631,-9.202451,...,9.435030,9.641610,9.65659,9.536902,9.214340,14.835322,12.305654,2.150687,0.14970,1.385960
std,1.213037e+07,0.000000e+00,NaN,NaN,NaN,9.333440e+07,71.797202,71.797202,0.103688,0.110301,...,0.911513,0.826811,0.81353,0.758469,0.914887,42.781736,42.669665,6.479967,1.11104,1.411868
min,6.499000e+03,2.020053e+13,NaN,NaN,NaN,1.445500e+04,0.000000,0.000000,38.676080,-9.498520,...,2.000000,2.000000,2.00000,2.000000,2.000000,1.000000,0.000000,0.000000,0.00000,0.010000
25%,1.348872e+07,2.020053e+13,NaN,NaN,NaN,1.521207e+07,1.000000,1.000000,38.711040,-9.218737,...,9.000000,9.000000,10.00000,9.000000,9.000000,1.000000,1.000000,0.000000,0.00000,0.290000
50%,2.298439e+07,2.020053e+13,NaN,NaN,NaN,5.937474e+07,4.000000,4.000000,38.717835,-9.146800,...,10.000000,10.000000,10.00000,10.000000,9.000000,3.000000,2.000000,0.000000,0.00000,0.890000
75%,3.279862e+07,2.020053e+13,NaN,NaN,NaN,1.610771e+08,11.000000,11.000000,38.739197,-9.134610,...,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,6.000000,1.000000,0.00000,2.100000
max,4.356874e+07,2.020053e+13,NaN,NaN,NaN,3.474345e+08,1350.000000,1350.000000,39.303670,-8.838270,...,10.000000,10.000000,10.00000,10.000000,10.000000,336.000000,336.000000,69.000000,18.00000,19.610000

In [4]:
listings.drop(['thumbnail_url', 'medium_url', 'xl_picture_url'], axis=1, inplace=True)

In [5]:
listings.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,2.430200e+04,2.430200e+04,2.430200e+04,24301.000000,24301.000000,24302.000000,24302.000000,24302.000000,24277.000000,24290.000000,...,19886.000000,19875.000000,19880.00000,19877.000000,19875.000000,24302.000000,24302.000000,24302.000000,24302.00000,20075.000000
mean,2.257234e+07,2.020053e+13,9.490641e+07,20.291840,20.291840,38.755631,-9.202451,4.057362,1.449664,1.660189,...,9.435030,9.641610,9.65659,9.536902,9.214340,14.835322,12.305654,2.150687,0.14970,1.385960
std,1.213037e+07,0.000000e+00,9.333440e+07,71.797202,71.797202,0.103688,0.110301,2.421068,0.920968,1.194550,...,0.911513,0.826811,0.81353,0.758469,0.914887,42.781736,42.669665,6.479967,1.11104,1.411868
min,6.499000e+03,2.020053e+13,1.445500e+04,0.000000,0.000000,38.676080,-9.498520,1.000000,0.000000,0.000000,...,2.000000,2.000000,2.00000,2.000000,2.000000,1.000000,0.000000,0.000000,0.00000,0.010000
25%,1.348872e+07,2.020053e+13,1.521207e+07,1.000000,1.000000,38.711040,-9.218737,2.000000,1.000000,1.000000,...,9.000000,9.000000,10.00000,9.000000,9.000000,1.000000,1.000000,0.000000,0.00000,0.290000
50%,2.298439e+07,2.020053e+13,5.937474e+07,4.000000,4.000000,38.717835,-9.146800,4.000000,1.000000,1.000000,...,10.000000,10.000000,10.00000,10.000000,9.000000,3.000000,2.000000,0.000000,0.00000,0.890000
75%,3.279862e+07,2.020053e+13,1.610771e+08,11.000000,11.000000,38.739197,-9.134610,5.000000,2.000000,2.000000,...,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,6.000000,1.000000,0.00000,2.100000
max,4.356874e+07,2.020053e+13,3.474345e+08,1350.000000,1350.000000,39.303670,-8.838270,32.000000,24.000000,25.000000,...,10.000000,10.000000,10.00000,10.000000,10.000000,336.000000,336.000000,69.000000,18.00000,19.610000

In [6]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Columns: 103 entries, id to reviews_per_month
dtypes: float64(18), int64(21), object(64)
memory usage: 19.1+ MB

In [7]:
listings.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 103 columns):
 #   Column                                        Dtype
---  ------                                        -----
 0   id                                            int64
 1   listing_url                                   object
 2   scrape_id                                     int64
 3   last_scraped                                  object
 4   name                                          object
 5   summary                                       object
 6   space                                         object
 7   description                                   object
 8   experiences_offered                           object
 9   neighborhood_overview                         object
 10  notes                                         object
 11  transit                                       object
 12  access                                        object
 13  interaction                                   object
 14  house_rules                                   object
 15  picture_url                                   object
 16  host_id                                       int64
 17  host_url                                      object
 18  host_name                                     object
 19  host_since                                    object
 20  host_location                                 object
 21  host_about                                    object
 22  host_response_time                            object
 23  host_response_rate                            object
 24  host_acceptance_rate                          object
 25  host_is_superhost                             object
 26  host_thumbnail_url                            object
 27  host_picture_url                              object
 28  host_neighbourhood                            object
 29  host_listings_count                           float64
 30  host_total_listings_count                     float64
 31  host_verifications                            object
 32  host_has_profile_pic                          object
 33  host_identity_verified                        object
 34  street                                        object
 35  neighbourhood                                 object
 36  neighbourhood_cleansed                        object
 37  neighbourhood_group_cleansed                  object
 38  city                                          object
 39  state                                         object
 40  zipcode                                       object
 41  market                                        object
 42  smart_location                                object
 43  country_code                                  object
 44  country                                       object
 45  latitude                                      float64
 46  longitude                                     float64
 47  is_location_exact                             object
 48  property_type                                 object
 49  room_type                                     object
 50  accommodates                                  int64
 51  bathrooms                                     float64
 52  bedrooms                                      float64
 53  beds                                          float64
 54  bed_type                                      object
 55  amenities                                     object
 56  square_feet                                   float64
 57  price                                         object
 58  weekly_price                                  object
 59  monthly_price                                 object
 60  security_deposit                              object
 61  cleaning_fee                                  object
 62  guests_included                               int64
 63  extra_people                                  object
 64  minimum_nights                                int64
 65  maximum_nights                                int64
 66  minimum_minimum_nights                        int64
 67  maximum_minimum_nights                        int64
 68  minimum_maximum_nights                        int64
 69  maximum_maximum_nights                        int64
 70  minimum_nights_avg_ntm                        float64
 71  maximum_nights_avg_ntm                        float64
 72  calendar_updated                              object
 73  has_availability                              object
 74  availability_30                               int64
 75  availability_60                               int64
 76  availability_90                               int64
 77  availability_365                              int64
 78  calendar_last_scraped                         object
 79  number_of_reviews                             int64
 80  number_of_reviews_ltm                         int64
 81  first_review                                  object
 82  last_review                                   object
 83  review_scores_rating                          float64
 84  review_scores_accuracy                        float64
 85  review_scores_cleanliness                     float64
 86  review_scores_checkin                         float64
 87  review_scores_communication                   float64
 88  review_scores_location                        float64
 89  review_scores_value                           float64
 90  requires_license                              object
 91  license                                       object
 92  jurisdiction_names                            object
 93  instant_bookable                              object
 94  is_business_travel_ready                      object
 95  cancellation_policy                           object
 96  require_guest_profile_picture                 object
 97  require_guest_phone_verification              object
 98  calculated_host_listings_count                int64
 99  calculated_host_listings_count_entire_homes   int64
 100 calculated_host_listings_count_private_rooms  int64
 101 calculated_host_listings_count_shared_rooms   int64
 102 reviews_per_month                             float64
dtypes: float64(18), int64(21), object(64)
memory usage: 19.1+ MB

In [8]:
listings_two.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24302 non-null  int64
 1   name                            24283 non-null  object
 2   host_id                         24302 non-null  int64
 3   host_name                       24301 non-null  object
 4   neighbourhood_group             24302 non-null  object
 5   neighbourhood                   24302 non-null  object
 6   latitude                        24302 non-null  float64
 7   longitude                       24302 non-null  float64
 8   room_type                       24302 non-null  object
 9   price                           24302 non-null  int64
 10  minimum_nights                  24302 non-null  int64
 11  number_of_reviews               24302 non-null  int64
 12  last_review                     20075 non-null  object
 13  reviews_per_month               20075 non-null  float64
 14  calculated_host_listings_count  24302 non-null  int64
 15  availability_365                24302 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 3.0+ MB

In [9]:
listings_two.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.430200e+04,2.430200e+04,24302.000000,24302.000000,24302.000000,24302.000000,24302.000000,20075.000000,24302.000000,24302.000000
mean,2.257234e+07,9.490641e+07,38.755631,-9.202451,111.541848,3.391367,41.446054,1.385960,14.835322,223.512880
std,1.213037e+07,9.333440e+07,0.103688,0.110301,351.691298,16.272085,65.824770,1.411868,42.781736,135.147466
min,6.499000e+03,1.445500e+04,38.676080,-9.498520,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.348872e+07,1.521207e+07,38.711040,-9.218737,47.000000,1.000000,2.000000,0.290000,1.000000,97.000000
50%,2.298439e+07,5.937474e+07,38.717835,-9.146800,70.000000,2.000000,13.000000,0.890000,3.000000,269.000000
75%,3.279862e+07,1.610771e+08,38.739197,-9.134610,100.000000,3.000000,53.000000,2.100000,10.000000,351.000000
max,4.356874e+07,3.474345e+08,39.303670,-8.838270,10000.000000,1000.000000,877.000000,19.610000,336.000000,365.000000

In [10]:
listings.count()

id                                              24302
listing_url                                     24302
scrape_id                                       24302
last_scraped                                    24302
name                                            24283
summary                                         23382
space                                           19104
description                                     23980
experiences_offered                             24302
neighborhood_overview                           16602
notes                                           12599
transit                                         16325
access                                          13340
interaction                                     14543
house_rules                                     14160
picture_url                                     24302
host_id                                         24302
host_url                                        24302
host_name                                       24301
host_since                                      24301
host_location                                   24263
host_about                                      14356
host_response_time                              17419
host_response_rate                              17419
host_acceptance_rate                            21757
host_is_superhost                               24301
host_thumbnail_url                              24301
host_picture_url                                24301
host_neighbourhood                              14881
host_listings_count                             24301
host_total_listings_count                       24301
host_verifications                              24302
host_has_profile_pic                            24301
host_identity_verified                          24301
street                                          24302
neighbourhood                                   17862
neighbourhood_cleansed                          24302
neighbourhood_group_cleansed                    24302
city                                            24157
state                                           23475
zipcode                                         23612
market                                          24298
smart_location                                  24302
country_code                                    24302
country                                         24302
latitude                                        24302
longitude                                       24302
is_location_exact                               24302
property_type                                   24302
room_type                                       24302
accommodates                                    24302
bathrooms                                       24277
bedrooms                                        24290
beds                                            24163
bed_type                                        24302
amenities                                       24302
square_feet                                       366
price                                           24302
weekly_price                                     1625
monthly_price                                    1415
security_deposit                                18548
cleaning_fee                                    19880
guests_included                                 24302
extra_people                                    24302
minimum_nights                                  24302
maximum_nights                                  24302
minimum_minimum_nights                          24302
maximum_minimum_nights                          24302
minimum_maximum_nights                          24302
maximum_maximum_nights                          24302
minimum_nights_avg_ntm                          24302
maximum_nights_avg_ntm                          24302
calendar_updated                                24302
has_availability                                24302
availability_30                                 24302
availability_60                                 24302
availability_90                                 24302
availability_365                                24302
calendar_last_scraped                           24302
number_of_reviews                               24302
number_of_reviews_ltm                           24302
first_review                                    20075
last_review                                     20075
review_scores_rating                            19894
review_scores_accuracy                          19881
review_scores_cleanliness                       19886
review_scores_checkin                           19875
review_scores_communication                     19880
review_scores_location                          19877
review_scores_value                             19875
requires_license                                24302
license                                         20984
jurisdiction_names                              17708
instant_bookable                                24302
is_business_travel_ready                        24302
cancellation_policy                             24302
require_guest_profile_picture                   24302
require_guest_phone_verification                24302
calculated_host_listings_count                  24302
calculated_host_listings_count_entire_homes     24302
calculated_host_listings_count_private_rooms    24302
calculated_host_listings_count_shared_rooms     24302
reviews_per_month                               20075
dtype: int64

In [11]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=103)

## check nulls

In [12]:
# listings.isna()
# listings.isnull().sum()
# listings.isnull().values.any()
# listings.isnull().sum().sum()

In [13]:
mask = listings.notna()
listings[mask]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6499,https://www.airbnb.com/rooms/6499,20200528045718,2020-06-06,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...",Fully furnished apartment (35m2). Small inside...,"This apartment is all about Location, next to ...",none,"To get to the city center, tram 15 stops in f...",...,t,f,moderate,f,f,1,1,0,0,0.37
1,25659,https://www.airbnb.com/rooms/25659,20200528045718,2020-05-28,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,"Charming, sunny, cozy apartment in the heart o...",Sunny 1 Bedroom cozy apartment in historic Alf...,none,Alfama is the oldest and most picturesque quar...,...,t,f,moderate,f,f,1,1,0,0,1.52
2,29248,https://www.airbnb.com/rooms/29248,20200528045718,2020-05-29,Apartamento Alfama com vista para o rio!,NaN,"Located in the city center, and great location...","Located in the city center, and great location...",none,NaN,...,t,f,flexible,f,f,1,1,0,0,2.80
3,29396,https://www.airbnb.com/rooms/29396,20200528045718,2020-05-28,Alfama Hill - Boutique apartment,Feel at home in the historic centre of Lisbon.,"Charming apartment renovated in 2017, on the g...",Feel at home in the historic centre of Lisbon....,none,Great neighborhood in the old part of town. Am...,...,t,f,flexible,f,t,2,2,0,0,2.45
4,29720,https://www.airbnb.com/rooms/29720,20200528045718,2020-06-06,TheHOUSE - Your luxury home,"A house at the top of an anonimous building, T...","The size, the decoration and, especially, our ...","A house at the top of an anonimous building, T...",none,"Location in the city's Embassies area, near en...",...,f,f,strict_14_with_grace_period,f,t,2,2,0,0,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24297,43563899,https://www.airbnb.com/rooms/43563899,20200528045718,2020-06-05,Room with privat w.c. river view on City center,This house it's in the most beautiful and cent...,100mts walking you will have one of the best v...,This house it's in the most beautiful and cent...,none,NaN,...,f,f,flexible,f,f,1,0,1,0,NaN
24298,43563972,https://www.airbnb.com/rooms/43563972,20200528045718,2020-06-05,Ericeira Paradise Hostel&Suites,O Ericeira Paradise Hostel & Suites é uma casa...,"Situado na Ericeira, a 43 km do Estoril, o Eri...",O Ericeira Paradise Hostel & Suites é uma casa...,none,NaN,...,t,f,flexible,f,f,1,1,0,0,NaN
24299,43566725,https://www.airbnb.com/rooms/43566725,20200528045718,2020-06-06,Volkswagen Grand California - Mr.Vancamper,The New Grand California provides even more in...,NaN,The New Grand California provides even more in...,none,NaN,...,t,f,strict_14_with_grace_period,f,f,3,3,0,0,NaN
24300,43568507,https://www.airbnb.com/rooms/43568507,20200528045718,2020-06-06,"Confortável Autocaravana 6 lugares, enjoy Port...","Nossa ""Laranjinha"" tem a grande vantagem de te...","Vários locais para arrumação, tem TV e vai com...","Nossa ""Laranjinha"" tem a grande vantagem de te...",none,A mobilidade e flexibilidade de poder parar e ...,...,f,f,flexible,f,f,2,2,0,0,NaN
24301,43568745,https://www.airbnb.com/rooms/43568745,20200528045718,2020-06-05,Quinta das Murtas - Quarto triplo 1 casal 1 si...,Quarto triplo com cama de casal e cama de solt...,NaN,Quarto triplo com cama de casal e cama de solt...,none,NaN,...,f,f,flexible,f,f,3,1,2,0,NaN

In [14]:
listings.head(10)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6499,https://www.airbnb.com/rooms/6499,20200528045718,2020-06-06,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...",Fully furnished apartment (35m2). Small inside...,"This apartment is all about Location, next to ...",none,"To get to the city center, tram 15 stops in f...",...,t,f,moderate,f,f,1,1,0,0,0.37
1,25659,https://www.airbnb.com/rooms/25659,20200528045718,2020-05-28,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,"Charming, sunny, cozy apartment in the heart o...",Sunny 1 Bedroom cozy apartment in historic Alf...,none,Alfama is the oldest and most picturesque quar...,...,t,f,moderate,f,f,1,1,0,0,1.52
2,29248,https://www.airbnb.com/rooms/29248,20200528045718,2020-05-29,Apartamento Alfama com vista para o rio!,NaN,"Located in the city center, and great location...","Located in the city center, and great location...",none,NaN,...,t,f,flexible,f,f,1,1,0,0,2.80
3,29396,https://www.airbnb.com/rooms/29396,20200528045718,2020-05-28,Alfama Hill - Boutique apartment,Feel at home in the historic centre of Lisbon.,"Charming apartment renovated in 2017, on the g...",Feel at home in the historic centre of Lisbon....,none,Great neighborhood in the old part of town. Am...,...,t,f,flexible,f,t,2,2,0,0,2.45
4,29720,https://www.airbnb.com/rooms/29720,20200528045718,2020-06-06,TheHOUSE - Your luxury home,"A house at the top of an anonimous building, T...","The size, the decoration and, especially, our ...","A house at the top of an anonimous building, T...",none,"Location in the city's Embassies area, near en...",...,f,f,strict_14_with_grace_period,f,t,2,2,0,0,0.48
5,29915,https://www.airbnb.com/rooms/29915,20200528045718,2020-06-05,Modern and Cool Apartment in Lisboa,A modern and equipped apartment. Quiet and pea...,"Large 1 bedroom apartment, in a just built mod...",A modern and equipped apartment. Quiet and pea...,none,"Location: Entrecampos, Avenida das Forças Arma...",...,f,f,strict_14_with_grace_period,t,t,1,1,0,0,0.31
6,33348,https://www.airbnb.com/rooms/33348,20200528045718,2020-06-05,Happy Season,NaN,"Five minutes by foot to subway Campo Grande, y...","Five minutes by foot to subway Campo Grande, y...",none,NaN,...,f,f,strict_14_with_grace_period,f,f,2,1,1,0,0.02
7,40817,https://www.airbnb.com/rooms/40817,20200528045718,2020-06-05,"Chiado, Alecrim walk to Riverfront","Lockdown in Lisbon is over! All is ready, in...","This is a large suite is in the 3rd floor, wit...","Lockdown in Lisbon is over! All is ready, in...",none,"Located a few steps away, (5 mn walk), from th...",...,t,f,flexible,f,f,15,15,0,0,3.14
8,42519,https://www.airbnb.com/rooms/42519,20200528045718,2020-06-05,Nice Apart.BAIRRO ALTO (ADAMASTOR) 6-1º,This apartment is the best choice for those wh...,This apartment offers you a living room to res...,This apartment is the best choice for those wh...,none,This apartment is the ideal choice for those w...,...,t,f,flexible,f,f,10,10,0,0,1.08
9,48025,https://www.airbnb.com/rooms/48025,20200528045718,2020-05-28,Apartment for renting in Lisbon,NaN,Located in the heart of old Lisbon (Bairro Alt...,Located in the heart of old Lisbon (Bairro Alt...,none,NaN,...,f,f,flexible,f,f,5,5,0,0,0.16

In [15]:
listings_two.tail(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
24292,43556742,Modern and Comfortable Apartment River View,15225525,Ines,Lisboa,Misericrdia,38.70877,-9.14820,Entire home/apt,54,2,0,NaN,NaN,1,159
24293,43557705,Single bedrom with TV,50679081,Manuel,Lisboa,So Vicente,38.72217,-9.13132,Private room,25,60,0,NaN,NaN,6,153
24294,43562836,2 bedroom duplex Rossio - Wifi,327776633,Maria,Lisboa,Arroios,38.71667,-9.13785,Entire home/apt,71,2,0,NaN,NaN,3,355
24295,43563610,Light House BA,258617902,Susana,Lisboa,Misericrdia,38.71302,-9.14651,Entire home/apt,50,3,0,NaN,NaN,2,169
24296,43563882,New! MY LX FLAT Luxury Chiado Design Apartment,17125483,Patrícia,Lisboa,Misericrdia,38.70860,-9.14335,Entire home/apt,120,1,1,2020-05-30,1.0,25,351
24297,43563899,Room with privat w.c. river view on City center,3849818,Linda,Lisboa,Misericrdia,38.71008,-9.14669,Private room,35,3,0,NaN,NaN,1,96
24298,43563972,Ericeira Paradise Hostel&Suites,344546018,Ericeira Paradise,Mafra,Ericeira,38.97436,-9.41751,Entire home/apt,350,4,0,NaN,NaN,1,363
24299,43566725,Volkswagen Grand California - Mr.Vancamper,233442821,David,Lisboa,Olivais,38.76655,-9.12835,Entire home/apt,94,4,0,NaN,NaN,3,359
24300,43568507,"Confortável Autocaravana 6 lugares, enjoy Port...",13224750,Jorge Eduardo Andrade Da,Sintra,Rio de Mouro,38.79098,-9.32863,Entire home/apt,60,1,0,NaN,NaN,2,356
24301,43568745,Quinta das Murtas - Quarto triplo 1 casal 1 si...,7584438,Quinta Das Murtas,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.79442,-9.38440,Private room,200,1,0,NaN,NaN,3,365

In [16]:
listings_two.tail(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
24292,43556742,Modern and Comfortable Apartment River View,15225525,Ines,Lisboa,Misericrdia,38.70877,-9.14820,Entire home/apt,54,2,0,NaN,NaN,1,159
24293,43557705,Single bedrom with TV,50679081,Manuel,Lisboa,So Vicente,38.72217,-9.13132,Private room,25,60,0,NaN,NaN,6,153
24294,43562836,2 bedroom duplex Rossio - Wifi,327776633,Maria,Lisboa,Arroios,38.71667,-9.13785,Entire home/apt,71,2,0,NaN,NaN,3,355
24295,43563610,Light House BA,258617902,Susana,Lisboa,Misericrdia,38.71302,-9.14651,Entire home/apt,50,3,0,NaN,NaN,2,169
24296,43563882,New! MY LX FLAT Luxury Chiado Design Apartment,17125483,Patrícia,Lisboa,Misericrdia,38.70860,-9.14335,Entire home/apt,120,1,1,2020-05-30,1.0,25,351
24297,43563899,Room with privat w.c. river view on City center,3849818,Linda,Lisboa,Misericrdia,38.71008,-9.14669,Private room,35,3,0,NaN,NaN,1,96
24298,43563972,Ericeira Paradise Hostel&Suites,344546018,Ericeira Paradise,Mafra,Ericeira,38.97436,-9.41751,Entire home/apt,350,4,0,NaN,NaN,1,363
24299,43566725,Volkswagen Grand California - Mr.Vancamper,233442821,David,Lisboa,Olivais,38.76655,-9.12835,Entire home/apt,94,4,0,NaN,NaN,3,359
24300,43568507,"Confortável Autocaravana 6 lugares, enjoy Port...",13224750,Jorge Eduardo Andrade Da,Sintra,Rio de Mouro,38.79098,-9.32863,Entire home/apt,60,1,0,NaN,NaN,2,356
24301,43568745,Quinta das Murtas - Quarto triplo 1 casal 1 si...,7584438,Quinta Das Murtas,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.79442,-9.38440,Private room,200,1,0,NaN,NaN,3,365

In [17]:
listings_two.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6499,Belém 1 Bedroom Historical Apartment,14455,Bruno,Lisboa,Belm,38.69750,-9.19768,Entire home/apt,40,3,26,2020-01-03,0.37,1,340
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",107347,Ellie,Lisboa,Santa Maria Maior,38.71167,-9.12696,Entire home/apt,60,3,113,2019-12-08,1.52,1,321
2,29248,Apartamento Alfama com vista para o rio!,125768,Bárbara,Lisboa,Santa Maria Maior,38.71272,-9.12628,Entire home/apt,60,1,321,2020-03-11,2.80,1,350
3,29396,Alfama Hill - Boutique apartment,126415,Mónica,Lisboa,Santa Maria Maior,38.71239,-9.12887,Entire home/apt,60,2,239,2020-03-15,2.45,2,296
4,29720,TheHOUSE - Your luxury home,128075,Francisco,Lisboa,Estrela,38.71195,-9.15877,Entire home/apt,1100,2,55,2020-03-15,0.48,2,322
5,29915,Modern and Cool Apartment in Lisboa,128890,Sara,Lisboa,Avenidas Novas,38.74712,-9.15286,Entire home/apt,45,5,37,2020-01-21,0.31,1,212
6,33348,Happy Season,144484,Bruno,Lisboa,Lumiar,38.76381,-9.15256,Private room,40,1,2,2011-07-22,0.02,2,0
7,40817,"Chiado, Alecrim walk to Riverfront",176410,S.,Lisboa,Misericrdia,38.70898,-9.14312,Entire home/apt,70,1,360,2020-01-27,3.14,15,364
8,42519,Nice Apart.BAIRRO ALTO (ADAMASTOR) 6-1º,136230,David,Lisboa,Misericrdia,38.71082,-9.15090,Entire home/apt,50,1,114,2020-03-08,1.08,10,362
9,48025,Apartment for renting in Lisbon,218778,José,Lisboa,Misericrdia,38.71309,-9.14392,Entire home/apt,65,5,17,2019-12-03,0.16,5,341

In [18]:
# df = listings.merge(listings_two, on='id')
# df

In [19]:
# df.drop(['listing_url','scrape_id','last_scraped'], axis=1, inplace=True)

In [20]:
# df.head(10)

In [21]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8870230 entries, 0 to 8870229
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 473.7+ MB

In [22]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,117979,2020-06-06,t,$120.00,$120.00,1.0,730.0
1,6499,2020-06-06,f,$79.00,$79.00,3.0,365.0
2,6499,2020-06-07,f,$79.00,$79.00,3.0,365.0
3,6499,2020-06-08,f,$79.00,$79.00,3.0,365.0
4,6499,2020-06-09,f,$79.00,$79.00,3.0,365.0

In [23]:
calendar.describe()

         listing_id  minimum_nights  maximum_nights
count  8.870230e+06    8.869861e+06    8.869861e+06
mean   2.257234e+07    3.664800e+00    8.944841e+05
std    1.213012e+07    1.597480e+01    4.301646e+07
min    6.499000e+03    1.000000e+00    1.000000e+00
25%    1.348852e+07    1.000000e+00    3.600000e+02
50%    2.298439e+07    2.000000e+00    1.125000e+03
75%    3.279901e+07    3.000000e+00    1.125000e+03
max    4.356874e+07    3.180000e+03    2.147484e+09

In [24]:
calendar.groupby('listing_id').mean()

            minimum_nights  maximum_nights
listing_id
6499                   3.0           365.0
25659                  3.0          1125.0
29248                  1.0          1125.0
29396                  2.0          1125.0
29720                  2.0           730.0
...                    ...             ...
43563899               3.0          1125.0
43563972               4.0          1125.0
43566725               4.0          1125.0
43568507               1.0          1125.0
43568745               1.0          1125.0

[24302 rows x 2 columns]

In [25]:
# df.info(verbose=True)

In [26]:
# df[['price_x','price_y']]

In [28]:
# df.groupby(['room_type_x']).count().sort_values(by='id',ascending=False)

In [ ]:
# df.groupby(['room_type_x']).agg(np.median)[['price_y']].sort_values(by='price_y', ascending=False)

In [ ]:
# df.groupby(['property_type']).count().sort_values(by='id', ascending=False)

In [ ]:
# df.groupby(['property_type']).agg(np.mean).sort_values(by='id', ascending=False)

In [ ]:
# df.info(verbose=True)

In [ ]:
# df[['calculated_host_listings_count_x']]

In [29]:
listings_two.columns.values

array(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'], dtype=object)

In [30]:
listings_two.loc[listings_two['availability_365']>180]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6499,Belém 1 Bedroom Historical Apartment,14455,Bruno,Lisboa,Belm,38.69750,-9.19768,Entire home/apt,40,3,26,2020-01-03,0.37,1,340
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",107347,Ellie,Lisboa,Santa Maria Maior,38.71167,-9.12696,Entire home/apt,60,3,113,2019-12-08,1.52,1,321
2,29248,Apartamento Alfama com vista para o rio!,125768,Bárbara,Lisboa,Santa Maria Maior,38.71272,-9.12628,Entire home/apt,60,1,321,2020-03-11,2.80,1,350
3,29396,Alfama Hill - Boutique apartment,126415,Mónica,Lisboa,Santa Maria Maior,38.71239,-9.12887,Entire home/apt,60,2,239,2020-03-15,2.45,2,296
4,29720,TheHOUSE - Your luxury home,128075,Francisco,Lisboa,Estrela,38.71195,-9.15877,Entire home/apt,1100,2,55,2020-03-15,0.48,2,322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24296,43563882,New! MY LX FLAT Luxury Chiado Design Apartment,17125483,Patrícia,Lisboa,Misericrdia,38.70860,-9.14335,Entire home/apt,120,1,1,2020-05-30,1.00,25,351
24298,43563972,Ericeira Paradise Hostel&Suites,344546018,Ericeira Paradise,Mafra,Ericeira,38.97436,-9.41751,Entire home/apt,350,4,0,NaN,NaN,1,363
24299,43566725,Volkswagen Grand California - Mr.Vancamper,233442821,David,Lisboa,Olivais,38.76655,-9.12835,Entire home/apt,94,4,0,NaN,NaN,3,359
24300,43568507,"Confortável Autocaravana 6 lugares, enjoy Port...",13224750,Jorge Eduardo Andrade Da,Sintra,Rio de Mouro,38.79098,-9.32863,Entire home/apt,60,1,0,NaN,NaN,2,356
24301,43568745,Quinta das Murtas - Quarto triplo 1 casal 1 si...,7584438,Quinta Das Murtas,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.79442,-9.38440,Private room,200,1,0,NaN,NaN,3,365

In [31]:
listings_two[['host_id', 'calculated_host_listings_count']]

         host_id  calculated_host_listings_count
0          14455                               1
1         107347                               1
2         125768                               1
3         126415                               2
4         128075                               2
...          ...                             ...
24297    3849818                               1
24298  344546018                               1
24299  233442821                               3
24300   13224750                               2
24301    7584438                               3

[24302 rows x 2 columns]

In [32]:
listings_two.groupby(['host_id']).agg(np.mean)

,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_id,,,,,,,,,
14455,6499.0,38.697500,-9.197680,40.0,3.0,26.0,0.370,1.0,340.0
17096,18644258.0,38.708870,-9.147220,100.0,3.0,2.0,0.070,1.0,88.0
58150,34804018.5,38.714765,-9.143440,142.5,2.0,13.5,1.045,2.0,115.5
68805,18626026.5,38.705720,-9.159850,41.5,30.0,18.5,0.445,2.0,289.5
107347,25659.0,38.711670,-9.126960,60.0,3.0,113.0,1.520,1.0,321.0
...,...,...,...,...,...,...,...,...,...
346766646,43505523.0,38.710863,-9.133270,100.0,2.0,0.0,NaN,3.0,315.0
346766993,43485605.5,38.723785,-9.136305,160.0,1.0,0.0,NaN,2.0,361.5
346987534,43505592.0,38.701175,-9.195165,115.0,2.0,0.0,NaN,2.0,341.0
347120521,43514261.0,38.710860,-9.151570,80.0,2.0,0.0,NaN,1.0,330.0
347434480,43532870.0,38.714570,-9.132370,65.0,1.0,0.0,NaN,1.0,238.0

## count host listings

## Calculate total income