In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows=150

## Import Datasets

In [2]:
listings = pd.read_csv('../Lisbon-Portugal-data/listings.csv', low_memory=False)
listings_two = pd.read_csv('../Lisbon-Portugal-data/listings-2.csv')
calendar = pd.read_csv('../Lisbon-Portugal-data/calendar.csv', low_memory=False)
neighborhoods = pd.read_csv('../Lisbon-Portugal-data/neighbourhoods.csv')
# reviews = pd.read_csv('../Lisbon-Portugal-data/reviews.csv', low_memory=False)
# reviews_two = pd.read_csv('../Lisbon-Portugal-data/reviews-2.csv', low_memory=False)

## Examine Data

In [3]:
listings.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_listings_count,host_total_listings_count,latitude,longitude,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,2.430200e+04,2.430200e+04,0.0,0.0,0.0,2.430200e+04,24301.000000,24301.000000,24302.000000,24302.000000,...,19886.000000,19875.000000,19880.00000,19877.000000,19875.000000,24302.000000,24302.000000,24302.000000,24302.00000,20075.000000
mean,2.257234e+07,2.020053e+13,NaN,NaN,NaN,9.490641e+07,20.291840,20.291840,38.755631,-9.202451,...,9.435030,9.641610,9.65659,9.536902,9.214340,14.835322,12.305654,2.150687,0.14970,1.385960
std,1.213037e+07,0.000000e+00,NaN,NaN,NaN,9.333440e+07,71.797202,71.797202,0.103688,0.110301,...,0.911513,0.826811,0.81353,0.758469,0.914887,42.781736,42.669665,6.479967,1.11104,1.411868
min,6.499000e+03,2.020053e+13,NaN,NaN,NaN,1.445500e+04,0.000000,0.000000,38.676080,-9.498520,...,2.000000,2.000000,2.00000,2.000000,2.000000,1.000000,0.000000,0.000000,0.00000,0.010000
25%,1.348872e+07,2.020053e+13,NaN,NaN,NaN,1.521207e+07,1.000000,1.000000,38.711040,-9.218737,...,9.000000,9.000000,10.00000,9.000000,9.000000,1.000000,1.000000,0.000000,0.00000,0.290000
50%,2.298439e+07,2.020053e+13,NaN,NaN,NaN,5.937474e+07,4.000000,4.000000,38.717835,-9.146800,...,10.000000,10.000000,10.00000,10.000000,9.000000,3.000000,2.000000,0.000000,0.00000,0.890000
75%,3.279862e+07,2.020053e+13,NaN,NaN,NaN,1.610771e+08,11.000000,11.000000,38.739197,-9.134610,...,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,6.000000,1.000000,0.00000,2.100000
max,4.356874e+07,2.020053e+13,NaN,NaN,NaN,3.474345e+08,1350.000000,1350.000000,39.303670,-8.838270,...,10.000000,10.000000,10.00000,10.000000,10.000000,336.000000,336.000000,69.000000,18.00000,19.610000

In [4]:
listings.drop(['thumbnail_url', 'medium_url', 'xl_picture_url'], axis=1, inplace=True)

In [5]:
listings.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,2.430200e+04,2.430200e+04,2.430200e+04,24301.000000,24301.000000,24302.000000,24302.000000,24302.000000,24277.000000,24290.000000,...,19886.000000,19875.000000,19880.00000,19877.000000,19875.000000,24302.000000,24302.000000,24302.000000,24302.00000,20075.000000
mean,2.257234e+07,2.020053e+13,9.490641e+07,20.291840,20.291840,38.755631,-9.202451,4.057362,1.449664,1.660189,...,9.435030,9.641610,9.65659,9.536902,9.214340,14.835322,12.305654,2.150687,0.14970,1.385960
std,1.213037e+07,0.000000e+00,9.333440e+07,71.797202,71.797202,0.103688,0.110301,2.421068,0.920968,1.194550,...,0.911513,0.826811,0.81353,0.758469,0.914887,42.781736,42.669665,6.479967,1.11104,1.411868
min,6.499000e+03,2.020053e+13,1.445500e+04,0.000000,0.000000,38.676080,-9.498520,1.000000,0.000000,0.000000,...,2.000000,2.000000,2.00000,2.000000,2.000000,1.000000,0.000000,0.000000,0.00000,0.010000
25%,1.348872e+07,2.020053e+13,1.521207e+07,1.000000,1.000000,38.711040,-9.218737,2.000000,1.000000,1.000000,...,9.000000,9.000000,10.00000,9.000000,9.000000,1.000000,1.000000,0.000000,0.00000,0.290000
50%,2.298439e+07,2.020053e+13,5.937474e+07,4.000000,4.000000,38.717835,-9.146800,4.000000,1.000000,1.000000,...,10.000000,10.000000,10.00000,10.000000,9.000000,3.000000,2.000000,0.000000,0.00000,0.890000
75%,3.279862e+07,2.020053e+13,1.610771e+08,11.000000,11.000000,38.739197,-9.134610,5.000000,2.000000,2.000000,...,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,6.000000,1.000000,0.00000,2.100000
max,4.356874e+07,2.020053e+13,3.474345e+08,1350.000000,1350.000000,39.303670,-8.838270,32.000000,24.000000,25.000000,...,10.000000,10.000000,10.00000,10.000000,10.000000,336.000000,336.000000,69.000000,18.00000,19.610000

In [6]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Columns: 103 entries, id to reviews_per_month
dtypes: float64(18), int64(21), object(64)
memory usage: 19.1+ MB

In [7]:
listings.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 103 columns):
 #   Column                                        Dtype
---  ------                                        -----
 0   id                                            int64
 1   listing_url                                   object
 2   scrape_id                                     int64
 3   last_scraped                                  object
 4   name                                          object
 5   summary                                       object
 6   space                                         object
 7   description                                   object
 8   experiences_offered                           object
 9   neighborhood_overview                         object
 10  notes                                         object
 11  transit                                       object
 12  access                                        object
 13  interaction                                   object
 14  house_rules                                   object
 15  picture_url                                   object
 16  host_id                                       int64
 17  host_url                                      object
 18  host_name                                     object
 19  host_since                                    object
 20  host_location                                 object
 21  host_about                                    object
 22  host_response_time                            object
 23  host_response_rate                            object
 24  host_acceptance_rate                          object
 25  host_is_superhost                             object
 26  host_thumbnail_url                            object
 27  host_picture_url                              object
 28  host_neighbourhood                            object
 29  host_listings_count                           float64
 30  host_total_listings_count                     float64
 31  host_verifications                            object
 32  host_has_profile_pic                          object
 33  host_identity_verified                        object
 34  street                                        object
 35  neighbourhood                                 object
 36  neighbourhood_cleansed                        object
 37  neighbourhood_group_cleansed                  object
 38  city                                          object
 39  state                                         object
 40  zipcode                                       object
 41  market                                        object
 42  smart_location                                object
 43  country_code                                  object
 44  country                                       object
 45  latitude                                      float64
 46  longitude                                     float64
 47  is_location_exact                             object
 48  property_type                                 object
 49  room_type                                     object
 50  accommodates                                  int64
 51  bathrooms                                     float64
 52  bedrooms                                      float64
 53  beds                                          float64
 54  bed_type                                      object
 55  amenities                                     object
 56  square_feet                                   float64
 57  price                                         object
 58  weekly_price                                  object
 59  monthly_price                                 object
 60  security_deposit                              object
 61  cleaning_fee                                  object
 62  guests_included                               int64
 63  extra_people                                  object
 64  minimum_nights                                int64
 65  maximum_nights                                int64
 66  minimum_minimum_nights                        int64
 67  maximum_minimum_nights                        int64
 68  minimum_maximum_nights                        int64
 69  maximum_maximum_nights                        int64
 70  minimum_nights_avg_ntm                        float64
 71  maximum_nights_avg_ntm                        float64
 72  calendar_updated                              object
 73  has_availability                              object
 74  availability_30                               int64
 75  availability_60                               int64
 76  availability_90                               int64
 77  availability_365                              int64
 78  calendar_last_scraped                         object
 79  number_of_reviews                             int64
 80  number_of_reviews_ltm                         int64
 81  first_review                                  object
 82  last_review                                   object
 83  review_scores_rating                          float64
 84  review_scores_accuracy                        float64
 85  review_scores_cleanliness                     float64
 86  review_scores_checkin                         float64
 87  review_scores_communication                   float64
 88  review_scores_location                        float64
 89  review_scores_value                           float64
 90  requires_license                              object
 91  license                                       object
 92  jurisdiction_names                            object
 93  instant_bookable                              object
 94  is_business_travel_ready                      object
 95  cancellation_policy                           object
 96  require_guest_profile_picture                 object
 97  require_guest_phone_verification              object
 98  calculated_host_listings_count                int64
 99  calculated_host_listings_count_entire_homes   int64
 100 calculated_host_listings_count_private_rooms  int64
 101 calculated_host_listings_count_shared_rooms   int64
 102 reviews_per_month                             float64
dtypes: float64(18), int64(21), object(64)
memory usage: 19.1+ MB

In [8]:
listings['has_availability']
# if its booked can assume to show minimum if it has avail == f then booked

0        t
1        t
2        t
3        t
4        t
        ..
24297    t
24298    t
24299    t
24300    t
24301    t
Name: has_availability, Length: 24302, dtype: object

In [9]:
listings_two.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24302 non-null  int64
 1   name                            24283 non-null  object
 2   host_id                         24302 non-null  int64
 3   host_name                       24301 non-null  object
 4   neighbourhood_group             24302 non-null  object
 5   neighbourhood                   24302 non-null  object
 6   latitude                        24302 non-null  float64
 7   longitude                       24302 non-null  float64
 8   room_type                       24302 non-null  object
 9   price                           24302 non-null  int64
 10  minimum_nights                  24302 non-null  int64
 11  number_of_reviews               24302 non-null  int64
 12  last_review                     20075 non-null  object
 13  reviews_per_month               20075 non-null  float64
 14  calculated_host_listings_count  24302 non-null  int64
 15  availability_365                24302 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 3.0+ MB

In [10]:
listings_two.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.430200e+04,2.430200e+04,24302.000000,24302.000000,24302.000000,24302.000000,24302.000000,20075.000000,24302.000000,24302.000000
mean,2.257234e+07,9.490641e+07,38.755631,-9.202451,111.541848,3.391367,41.446054,1.385960,14.835322,223.512880
std,1.213037e+07,9.333440e+07,0.103688,0.110301,351.691298,16.272085,65.824770,1.411868,42.781736,135.147466
min,6.499000e+03,1.445500e+04,38.676080,-9.498520,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.348872e+07,1.521207e+07,38.711040,-9.218737,47.000000,1.000000,2.000000,0.290000,1.000000,97.000000
50%,2.298439e+07,5.937474e+07,38.717835,-9.146800,70.000000,2.000000,13.000000,0.890000,3.000000,269.000000
75%,3.279862e+07,1.610771e+08,38.739197,-9.134610,100.000000,3.000000,53.000000,2.100000,10.000000,351.000000
max,4.356874e+07,3.474345e+08,39.303670,-8.838270,10000.000000,1000.000000,877.000000,19.610000,336.000000,365.000000

In [11]:
listings.count()

id                                              24302
listing_url                                     24302
scrape_id                                       24302
last_scraped                                    24302
name                                            24283
summary                                         23382
space                                           19104
description                                     23980
experiences_offered                             24302
neighborhood_overview                           16602
notes                                           12599
transit                                         16325
access                                          13340
interaction                                     14543
house_rules                                     14160
picture_url                                     24302
host_id                                         24302
host_url                                        24302
host_name                                       24301
host_since                                      24301
host_location                                   24263
host_about                                      14356
host_response_time                              17419
host_response_rate                              17419
host_acceptance_rate                            21757
host_is_superhost                               24301
host_thumbnail_url                              24301
host_picture_url                                24301
host_neighbourhood                              14881
host_listings_count                             24301
host_total_listings_count                       24301
host_verifications                              24302
host_has_profile_pic                            24301
host_identity_verified                          24301
street                                          24302
neighbourhood                                   17862
neighbourhood_cleansed                          24302
neighbourhood_group_cleansed                    24302
city                                            24157
state                                           23475
zipcode                                         23612
market                                          24298
smart_location                                  24302
country_code                                    24302
country                                         24302
latitude                                        24302
longitude                                       24302
is_location_exact                               24302
property_type                                   24302
room_type                                       24302
accommodates                                    24302
bathrooms                                       24277
bedrooms                                        24290
beds                                            24163
bed_type                                        24302
amenities                                       24302
square_feet                                       366
price                                           24302
weekly_price                                     1625
monthly_price                                    1415
security_deposit                                18548
cleaning_fee                                    19880
guests_included                                 24302
extra_people                                    24302
minimum_nights                                  24302
maximum_nights                                  24302
minimum_minimum_nights                          24302
maximum_minimum_nights                          24302
minimum_maximum_nights                          24302
maximum_maximum_nights                          24302
minimum_nights_avg_ntm                          24302
maximum_nights_avg_ntm                          24302
calendar_updated                                24302
has_availability                                24302
availability_30                                 24302
availability_60                                 24302
availability_90                                 24302
availability_365                                24302
calendar_last_scraped                           24302
number_of_reviews                               24302
number_of_reviews_ltm                           24302
first_review                                    20075
last_review                                     20075
review_scores_rating                            19894
review_scores_accuracy                          19881
review_scores_cleanliness                       19886
review_scores_checkin                           19875
review_scores_communication                     19880
review_scores_location                          19877
review_scores_value                             19875
requires_license                                24302
license                                         20984
jurisdiction_names                              17708
instant_bookable                                24302
is_business_travel_ready                        24302
cancellation_policy                             24302
require_guest_profile_picture                   24302
require_guest_phone_verification                24302
calculated_host_listings_count                  24302
calculated_host_listings_count_entire_homes     24302
calculated_host_listings_count_private_rooms    24302
calculated_host_listings_count_shared_rooms     24302
reviews_per_month                               20075
dtype: int64

In [12]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=103)

## check nulls

In [13]:
# listings.isna()
# listings.isnull().sum()
# listings.isnull().values.any()
# listings.isnull().sum().sum()

In [14]:
mask = listings.notna()
listings[mask]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6499,https://www.airbnb.com/rooms/6499,20200528045718,2020-06-06,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...",Fully furnished apartment (35m2). Small inside...,"This apartment is all about Location, next to ...",none,"To get to the city center, tram 15 stops in f...",...,t,f,moderate,f,f,1,1,0,0,0.37
1,25659,https://www.airbnb.com/rooms/25659,20200528045718,2020-05-28,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,"Charming, sunny, cozy apartment in the heart o...",Sunny 1 Bedroom cozy apartment in historic Alf...,none,Alfama is the oldest and most picturesque quar...,...,t,f,moderate,f,f,1,1,0,0,1.52
2,29248,https://www.airbnb.com/rooms/29248,20200528045718,2020-05-29,Apartamento Alfama com vista para o rio!,NaN,"Located in the city center, and great location...","Located in the city center, and great location...",none,NaN,...,t,f,flexible,f,f,1,1,0,0,2.80
3,29396,https://www.airbnb.com/rooms/29396,20200528045718,2020-05-28,Alfama Hill - Boutique apartment,Feel at home in the historic centre of Lisbon.,"Charming apartment renovated in 2017, on the g...",Feel at home in the historic centre of Lisbon....,none,Great neighborhood in the old part of town. Am...,...,t,f,flexible,f,t,2,2,0,0,2.45
4,29720,https://www.airbnb.com/rooms/29720,20200528045718,2020-06-06,TheHOUSE - Your luxury home,"A house at the top of an anonimous building, T...","The size, the decoration and, especially, our ...","A house at the top of an anonimous building, T...",none,"Location in the city's Embassies area, near en...",...,f,f,strict_14_with_grace_period,f,t,2,2,0,0,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24297,43563899,https://www.airbnb.com/rooms/43563899,20200528045718,2020-06-05,Room with privat w.c. river view on City center,This house it's in the most beautiful and cent...,100mts walking you will have one of the best v...,This house it's in the most beautiful and cent...,none,NaN,...,f,f,flexible,f,f,1,0,1,0,NaN
24298,43563972,https://www.airbnb.com/rooms/43563972,20200528045718,2020-06-05,Ericeira Paradise Hostel&Suites,O Ericeira Paradise Hostel & Suites é uma casa...,"Situado na Ericeira, a 43 km do Estoril, o Eri...",O Ericeira Paradise Hostel & Suites é uma casa...,none,NaN,...,t,f,flexible,f,f,1,1,0,0,NaN
24299,43566725,https://www.airbnb.com/rooms/43566725,20200528045718,2020-06-06,Volkswagen Grand California - Mr.Vancamper,The New Grand California provides even more in...,NaN,The New Grand California provides even more in...,none,NaN,...,t,f,strict_14_with_grace_period,f,f,3,3,0,0,NaN
24300,43568507,https://www.airbnb.com/rooms/43568507,20200528045718,2020-06-06,"Confortável Autocaravana 6 lugares, enjoy Port...","Nossa ""Laranjinha"" tem a grande vantagem de te...","Vários locais para arrumação, tem TV e vai com...","Nossa ""Laranjinha"" tem a grande vantagem de te...",none,A mobilidade e flexibilidade de poder parar e ...,...,f,f,flexible,f,f,2,2,0,0,NaN
24301,43568745,https://www.airbnb.com/rooms/43568745,20200528045718,2020-06-05,Quinta das Murtas - Quarto triplo 1 casal 1 si...,Quarto triplo com cama de casal e cama de solt...,NaN,Quarto triplo com cama de casal e cama de solt...,none,NaN,...,f,f,flexible,f,f,3,1,2,0,NaN

In [15]:
listings.head(10)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6499,https://www.airbnb.com/rooms/6499,20200528045718,2020-06-06,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...",Fully furnished apartment (35m2). Small inside...,"This apartment is all about Location, next to ...",none,"To get to the city center, tram 15 stops in f...",...,t,f,moderate,f,f,1,1,0,0,0.37
1,25659,https://www.airbnb.com/rooms/25659,20200528045718,2020-05-28,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,"Charming, sunny, cozy apartment in the heart o...",Sunny 1 Bedroom cozy apartment in historic Alf...,none,Alfama is the oldest and most picturesque quar...,...,t,f,moderate,f,f,1,1,0,0,1.52
2,29248,https://www.airbnb.com/rooms/29248,20200528045718,2020-05-29,Apartamento Alfama com vista para o rio!,NaN,"Located in the city center, and great location...","Located in the city center, and great location...",none,NaN,...,t,f,flexible,f,f,1,1,0,0,2.80
3,29396,https://www.airbnb.com/rooms/29396,20200528045718,2020-05-28,Alfama Hill - Boutique apartment,Feel at home in the historic centre of Lisbon.,"Charming apartment renovated in 2017, on the g...",Feel at home in the historic centre of Lisbon....,none,Great neighborhood in the old part of town. Am...,...,t,f,flexible,f,t,2,2,0,0,2.45
4,29720,https://www.airbnb.com/rooms/29720,20200528045718,2020-06-06,TheHOUSE - Your luxury home,"A house at the top of an anonimous building, T...","The size, the decoration and, especially, our ...","A house at the top of an anonimous building, T...",none,"Location in the city's Embassies area, near en...",...,f,f,strict_14_with_grace_period,f,t,2,2,0,0,0.48
5,29915,https://www.airbnb.com/rooms/29915,20200528045718,2020-06-05,Modern and Cool Apartment in Lisboa,A modern and equipped apartment. Quiet and pea...,"Large 1 bedroom apartment, in a just built mod...",A modern and equipped apartment. Quiet and pea...,none,"Location: Entrecampos, Avenida das Forças Arma...",...,f,f,strict_14_with_grace_period,t,t,1,1,0,0,0.31
6,33348,https://www.airbnb.com/rooms/33348,20200528045718,2020-06-05,Happy Season,NaN,"Five minutes by foot to subway Campo Grande, y...","Five minutes by foot to subway Campo Grande, y...",none,NaN,...,f,f,strict_14_with_grace_period,f,f,2,1,1,0,0.02
7,40817,https://www.airbnb.com/rooms/40817,20200528045718,2020-06-05,"Chiado, Alecrim walk to Riverfront","Lockdown in Lisbon is over! All is ready, in...","This is a large suite is in the 3rd floor, wit...","Lockdown in Lisbon is over! All is ready, in...",none,"Located a few steps away, (5 mn walk), from th...",...,t,f,flexible,f,f,15,15,0,0,3.14
8,42519,https://www.airbnb.com/rooms/42519,20200528045718,2020-06-05,Nice Apart.BAIRRO ALTO (ADAMASTOR) 6-1º,This apartment is the best choice for those wh...,This apartment offers you a living room to res...,This apartment is the best choice for those wh...,none,This apartment is the ideal choice for those w...,...,t,f,flexible,f,f,10,10,0,0,1.08
9,48025,https://www.airbnb.com/rooms/48025,20200528045718,2020-05-28,Apartment for renting in Lisbon,NaN,Located in the heart of old Lisbon (Bairro Alt...,Located in the heart of old Lisbon (Bairro Alt...,none,NaN,...,f,f,flexible,f,f,5,5,0,0,0.16

In [16]:
listings_two.tail(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
24292,43556742,Modern and Comfortable Apartment River View,15225525,Ines,Lisboa,Misericrdia,38.70877,-9.14820,Entire home/apt,54,2,0,NaN,NaN,1,159
24293,43557705,Single bedrom with TV,50679081,Manuel,Lisboa,So Vicente,38.72217,-9.13132,Private room,25,60,0,NaN,NaN,6,153
24294,43562836,2 bedroom duplex Rossio - Wifi,327776633,Maria,Lisboa,Arroios,38.71667,-9.13785,Entire home/apt,71,2,0,NaN,NaN,3,355
24295,43563610,Light House BA,258617902,Susana,Lisboa,Misericrdia,38.71302,-9.14651,Entire home/apt,50,3,0,NaN,NaN,2,169
24296,43563882,New! MY LX FLAT Luxury Chiado Design Apartment,17125483,Patrícia,Lisboa,Misericrdia,38.70860,-9.14335,Entire home/apt,120,1,1,2020-05-30,1.0,25,351
24297,43563899,Room with privat w.c. river view on City center,3849818,Linda,Lisboa,Misericrdia,38.71008,-9.14669,Private room,35,3,0,NaN,NaN,1,96
24298,43563972,Ericeira Paradise Hostel&Suites,344546018,Ericeira Paradise,Mafra,Ericeira,38.97436,-9.41751,Entire home/apt,350,4,0,NaN,NaN,1,363
24299,43566725,Volkswagen Grand California - Mr.Vancamper,233442821,David,Lisboa,Olivais,38.76655,-9.12835,Entire home/apt,94,4,0,NaN,NaN,3,359
24300,43568507,"Confortável Autocaravana 6 lugares, enjoy Port...",13224750,Jorge Eduardo Andrade Da,Sintra,Rio de Mouro,38.79098,-9.32863,Entire home/apt,60,1,0,NaN,NaN,2,356
24301,43568745,Quinta das Murtas - Quarto triplo 1 casal 1 si...,7584438,Quinta Das Murtas,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.79442,-9.38440,Private room,200,1,0,NaN,NaN,3,365

In [17]:
listings_two.tail(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
24292,43556742,Modern and Comfortable Apartment River View,15225525,Ines,Lisboa,Misericrdia,38.70877,-9.14820,Entire home/apt,54,2,0,NaN,NaN,1,159
24293,43557705,Single bedrom with TV,50679081,Manuel,Lisboa,So Vicente,38.72217,-9.13132,Private room,25,60,0,NaN,NaN,6,153
24294,43562836,2 bedroom duplex Rossio - Wifi,327776633,Maria,Lisboa,Arroios,38.71667,-9.13785,Entire home/apt,71,2,0,NaN,NaN,3,355
24295,43563610,Light House BA,258617902,Susana,Lisboa,Misericrdia,38.71302,-9.14651,Entire home/apt,50,3,0,NaN,NaN,2,169
24296,43563882,New! MY LX FLAT Luxury Chiado Design Apartment,17125483,Patrícia,Lisboa,Misericrdia,38.70860,-9.14335,Entire home/apt,120,1,1,2020-05-30,1.0,25,351
24297,43563899,Room with privat w.c. river view on City center,3849818,Linda,Lisboa,Misericrdia,38.71008,-9.14669,Private room,35,3,0,NaN,NaN,1,96
24298,43563972,Ericeira Paradise Hostel&Suites,344546018,Ericeira Paradise,Mafra,Ericeira,38.97436,-9.41751,Entire home/apt,350,4,0,NaN,NaN,1,363
24299,43566725,Volkswagen Grand California - Mr.Vancamper,233442821,David,Lisboa,Olivais,38.76655,-9.12835,Entire home/apt,94,4,0,NaN,NaN,3,359
24300,43568507,"Confortável Autocaravana 6 lugares, enjoy Port...",13224750,Jorge Eduardo Andrade Da,Sintra,Rio de Mouro,38.79098,-9.32863,Entire home/apt,60,1,0,NaN,NaN,2,356
24301,43568745,Quinta das Murtas - Quarto triplo 1 casal 1 si...,7584438,Quinta Das Murtas,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.79442,-9.38440,Private room,200,1,0,NaN,NaN,3,365

In [18]:
listings_two.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6499,Belém 1 Bedroom Historical Apartment,14455,Bruno,Lisboa,Belm,38.69750,-9.19768,Entire home/apt,40,3,26,2020-01-03,0.37,1,340
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",107347,Ellie,Lisboa,Santa Maria Maior,38.71167,-9.12696,Entire home/apt,60,3,113,2019-12-08,1.52,1,321
2,29248,Apartamento Alfama com vista para o rio!,125768,Bárbara,Lisboa,Santa Maria Maior,38.71272,-9.12628,Entire home/apt,60,1,321,2020-03-11,2.80,1,350
3,29396,Alfama Hill - Boutique apartment,126415,Mónica,Lisboa,Santa Maria Maior,38.71239,-9.12887,Entire home/apt,60,2,239,2020-03-15,2.45,2,296
4,29720,TheHOUSE - Your luxury home,128075,Francisco,Lisboa,Estrela,38.71195,-9.15877,Entire home/apt,1100,2,55,2020-03-15,0.48,2,322
5,29915,Modern and Cool Apartment in Lisboa,128890,Sara,Lisboa,Avenidas Novas,38.74712,-9.15286,Entire home/apt,45,5,37,2020-01-21,0.31,1,212
6,33348,Happy Season,144484,Bruno,Lisboa,Lumiar,38.76381,-9.15256,Private room,40,1,2,2011-07-22,0.02,2,0
7,40817,"Chiado, Alecrim walk to Riverfront",176410,S.,Lisboa,Misericrdia,38.70898,-9.14312,Entire home/apt,70,1,360,2020-01-27,3.14,15,364
8,42519,Nice Apart.BAIRRO ALTO (ADAMASTOR) 6-1º,136230,David,Lisboa,Misericrdia,38.71082,-9.15090,Entire home/apt,50,1,114,2020-03-08,1.08,10,362
9,48025,Apartment for renting in Lisbon,218778,José,Lisboa,Misericrdia,38.71309,-9.14392,Entire home/apt,65,5,17,2019-12-03,0.16,5,341

In [19]:
# df = listings.merge(listings_two, on='id')
# df

In [20]:
# df.drop(['listing_url','scrape_id','last_scraped'], axis=1, inplace=True)

In [21]:
# df.head(10)

In [22]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8870230 entries, 0 to 8870229
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 473.7+ MB

In [23]:
calendar.date = pd.to_datetime(calendar.date)
## cast to datetime or int

In [24]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,117979,2020-06-06,t,$120.00,$120.00,1.0,730.0
1,6499,2020-06-06,f,$79.00,$79.00,3.0,365.0
2,6499,2020-06-07,f,$79.00,$79.00,3.0,365.0
3,6499,2020-06-08,f,$79.00,$79.00,3.0,365.0
4,6499,2020-06-09,f,$79.00,$79.00,3.0,365.0

In [25]:
calendar.describe()

         listing_id  minimum_nights  maximum_nights
count  8.870230e+06    8.869861e+06    8.869861e+06
mean   2.257234e+07    3.664800e+00    8.944841e+05
std    1.213012e+07    1.597480e+01    4.301646e+07
min    6.499000e+03    1.000000e+00    1.000000e+00
25%    1.348852e+07    1.000000e+00    3.600000e+02
50%    2.298439e+07    2.000000e+00    1.125000e+03
75%    3.279901e+07    3.000000e+00    1.125000e+03
max    4.356874e+07    3.180000e+03    2.147484e+09

In [26]:
calendar['date'].max()
calendar['date'].min()
# can use these dates to calculate income, price * minimum nights where booked (available == f)
# where available is false = its booked
# check last update for dataset, find last update compare with already booked vs reservation
# get already booked from listings df

Timestamp('2020-05-28 00:00:00')

# 3,338,149 listings booked * (price * minimum nights)
### - set price as int? to multiply
### - price * 365 days? for max income?

In [82]:
# calendar[calendar['available']=='f'].agg(np.sum)['available']
# calendar.loc[calendar['available']=='t'].count()
# calendar.loc[calendar['available']=='f'].count()
calendar.groupby(['available']).count()[['listing_id']]

           listing_id
available
f             3338149
t             5532081

In [28]:
calendar['minimum_nights']
calendar['maximum_nights']

0           730.0
1           365.0
2           365.0
3           365.0
4           365.0
            ...
8870225    1125.0
8870226    1125.0
8870227    1125.0
8870228    1125.0
8870229    1125.0
Name: maximum_nights, Length: 8870230, dtype: float64

# merge listings and calendar?

In [29]:
listings_two.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.430200e+04,2.430200e+04,24302.000000,24302.000000,24302.000000,24302.000000,24302.000000,20075.000000,24302.000000,24302.000000
mean,2.257234e+07,9.490641e+07,38.755631,-9.202451,111.541848,3.391367,41.446054,1.385960,14.835322,223.512880
std,1.213037e+07,9.333440e+07,0.103688,0.110301,351.691298,16.272085,65.824770,1.411868,42.781736,135.147466
min,6.499000e+03,1.445500e+04,38.676080,-9.498520,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.348872e+07,1.521207e+07,38.711040,-9.218737,47.000000,1.000000,2.000000,0.290000,1.000000,97.000000
50%,2.298439e+07,5.937474e+07,38.717835,-9.146800,70.000000,2.000000,13.000000,0.890000,3.000000,269.000000
75%,3.279862e+07,1.610771e+08,38.739197,-9.134610,100.000000,3.000000,53.000000,2.100000,10.000000,351.000000
max,4.356874e+07,3.474345e+08,39.303670,-8.838270,10000.000000,1000.000000,877.000000,19.610000,336.000000,365.000000

In [30]:
listings_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24302 non-null  int64
 1   name                            24283 non-null  object
 2   host_id                         24302 non-null  int64
 3   host_name                       24301 non-null  object
 4   neighbourhood_group             24302 non-null  object
 5   neighbourhood                   24302 non-null  object
 6   latitude                        24302 non-null  float64
 7   longitude                       24302 non-null  float64
 8   room_type                       24302 non-null  object
 9   price                           24302 non-null  int64
 10  minimum_nights                  24302 non-null  int64
 11  number_of_reviews               24302 non-null  int64
 12  last_review                     20075 non-null  object
 13  reviews_per_month               20075 non-null  float64
 14  calculated_host_listings_count  24302 non-null  int64
 15  availability_365                24302 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 3.0+ MB

In [31]:
listings_two.last_review = pd.to_datetime(listings_two.last_review)
listings_two['last_review'].min()
listings_two['last_review'].max()
# check listings from 06-05-2019 to 06-05-2020 these are real booked: price * minimum nights
#compare against reserved from calendar: price * minimum nights

Timestamp('2020-06-05 00:00:00')

# dates and increase in occupancy rate

In [52]:
mask = (listings_two['last_review'] > '2019-6-5') & (listings_two['last_review'] <= '2020-6-5')
listings_two[mask]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6499,Belém 1 Bedroom Historical Apartment,14455,Bruno,Lisboa,Belm,38.69750,-9.19768,Entire home/apt,40,3,26,2020-01-03,0.37,1,340
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",107347,Ellie,Lisboa,Santa Maria Maior,38.71167,-9.12696,Entire home/apt,60,3,113,2019-12-08,1.52,1,321
2,29248,Apartamento Alfama com vista para o rio!,125768,Bárbara,Lisboa,Santa Maria Maior,38.71272,-9.12628,Entire home/apt,60,1,321,2020-03-11,2.80,1,350
3,29396,Alfama Hill - Boutique apartment,126415,Mónica,Lisboa,Santa Maria Maior,38.71239,-9.12887,Entire home/apt,60,2,239,2020-03-15,2.45,2,296
4,29720,TheHOUSE - Your luxury home,128075,Francisco,Lisboa,Estrela,38.71195,-9.15877,Entire home/apt,1100,2,55,2020-03-15,0.48,2,322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24169,43355588,Quarto com Cama King Size,134533163,André,Lisboa,Beato,38.73448,-9.11330,Private room,25,1,1,2020-05-20,1.00,2,270
24200,43408245,CB LISBOA - SUNNY AND ELEGANT APARTMENT - LAPA V,318343650,Casa Boma,Lisboa,Estrela,38.71005,-9.15838,Entire home/apt,119,1,1,2020-05-25,1.00,9,309
24203,43409525,Sintra - Escape to Nature 1,7555035,Ana,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.80154,-9.39237,Private room,50,1,1,2020-05-24,1.00,5,340
24205,43410578,Sintra - Escape to Nature 5,7555035,Ana,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.80035,-9.39256,Private room,50,1,2,2020-05-21,2.00,5,301
24296,43563882,New! MY LX FLAT Luxury Chiado Design Apartment,17125483,Patrícia,Lisboa,Misericrdia,38.70860,-9.14335,Entire home/apt,120,1,1,2020-05-30,1.00,25,351

# price / neighbourhood / room_type

In [66]:
listings_two[mask].groupby(['neighbourhood', 'room_type']).agg(np.sum)['minimum_nights'].sort_values(ascending=False)

neighbourhood                             room_type
Santa Maria Maior                         Entire home/apt    7122
Misericrdia                               Entire home/apt    4992
Cascais e Estoril                         Entire home/apt    3813
Arroios                                   Entire home/apt    3051
Santo Antnio                              Entire home/apt    2923
                                                             ...
Sapataria                                 Private room          1
Pvoa de Santo Adrio e Olival de Basto     Shared room           1
Camarate, Unhos e Apelao                  Private room          1
Alhandra, So Joo dos Montes e Calhandriz  Entire home/apt       1
So Joo das Lampas e Terrugem              Private room          1
Name: minimum_nights, Length: 272, dtype: int64

# copy to other masks

In [146]:
# listings_two[mask].groupby(['neighbourhood', 'room_type']).agg(np.median)['price'].round(2).sort_values(ascending=False)
listings_two[mask].groupby(['neighbourhood', 'room_type'])[['price']].min().reset_index()

                    neighbourhood        room_type  price
0        A dos Cunhados e Maceira  Entire home/apt     35
1        A dos Cunhados e Maceira     Private room     30
2        A dos Cunhados e Maceira      Shared room     21
3    Abrigada e Cabanas de Torres  Entire home/apt     50
4           Agualva e Mira-Sintra  Entire home/apt     40
..                            ...              ...    ...
267                         Vilar  Entire home/apt     55
268                         Vilar     Private room     75
269                       Vimeiro  Entire home/apt     39
270                   guas Livres  Entire home/apt     11
271                   guas Livres     Private room     15

[272 rows x 3 columns]

In [79]:
listings_two[mask].groupby(['neighbourhood']).agg(np.sum)['number_of_reviews'].sort_values(ascending=False)

neighbourhood
Santa Maria Maior                                    260245
Misericrdia                                          197801
Arroios                                               83713
So Vicente                                            81719
Santo Antnio                                          65348
Estrela                                               44721
Cascais e Estoril                                     29345
S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim     20499
Avenidas Novas                                        19794
Penha de Frana                                        18385
Ericeira                                              11818
Campo de Ourique                                      11775
Olivais                                               10841
Alcntara                                              10213
Colares                                                9660
Belm                                                   9599
Areeiro                                                9493
Alvalade                                               8373
Parque das Naes                                        6177
Carcavelos e Parede                                    5759
Ajuda                                                  5485
Campolide                                              3770
So Joo das Lampas e Terrugem                           3726
Moscavide e Portela                                    3574
Beato                                                  3406
Oeiras e S.Julio da Barra, Pao de Arcos e Caxias       3330
So Domingos de Benfica                                 2530
Santo Isidoro                                          2044
Lumiar                                                 1992
Alcabideche                                            1732
Marvila                                                1698
Algs, Linda-a-Velha e Cruz Quebrada-Dafundo            1659
Lourinh e Atalaia                                      1520
Carvoeira                                              1301
Algueiro-Mem Martins                                   1226
Odivelas                                               1159
Benfica                                                1114
guas Livres                                            1029
Sacavm e Prior Velho                                    869
A dos Cunhados e Maceira                                777
Rio de Mouro                                            744
Silveira                                                639
Mafra                                                   638
Queluz e Belas                                          608
Carnide                                                 581
Carnaxide e Queijas                                     571
Encarnao                                                418
Mina de gua                                             393
So Domingos de Rana                                     363
Massam e Monte Abrao                                    334
Santa Clara                                             332
So Pedro da Cadeira                                     303
Ramada e Caneas                                         297
Miragaia e Marteleira                                   269
Pvoa de Santa Iria e Forte da Casa                      236
Venteira                                                222
Falagueira-Venda Nova                                   222
Porto Salvo                                             219
So Bartolomeu dos Galegos e Moledo                      214
Agualva e Mira-Sintra                                   211
Igreja Nova e Cheleiros                                 210
Pontinha e Fames                                        194
Cacm e So Marcos                                        190
Almargem do Bispo, Pro Pinheiro e Montelavar            182
Barcarena                                               179
Lamas e Cercal                                          178
Pvoa de Santo Adrio e Olival de Basto                   178
Alfragide                                               166
S.Pedro e Santiago, S.Maria e S.Miguel, e Mataces       164
Ventosa                                                 138
Sobral de Monte Agrao                                   134
Vila Franca de Xira                                     132
Camarate, Unhos e Apelao                                132
Enxara do Bispo, Gradil e Vila Franca do Rosrio         131
Reguengo Grande                                         124
Loures                                                  120
Lousa                                                   117
Santa Iria de Azoia, So Joo da Talha e Bobadela         103
Ribamar                                                  96
Campelos e Outeiro da Cabea                              95
Cadaval e Pro Moniz                                      84
Aldeia Galega da Merceana e Aldeia Gavinha               84
Carnota                                                  81
Encosta do Sol                                           81
Santo Antnio dos Cavaleiros e Frielas                    78
Venda do Pinheiro e Santo Estvo das Gals                 76
Ribafria e Pereiro de Palhacana                          72
Casal de Cambra                                          69
Bucelas                                                  65
Vimeiro                                                  63
Alverca do Ribatejo e Sobralinho                         62
Dois Portos e Runa                                       60
Peral                                                    60
Turcifal                                                 55
Painho e Figueiros                                       53
Ramalhal                                                 51
Santa Brbara                                             50
Maxial e Monte Redondo                                   50
Carvoeira e Carmes                                       44
Alenquer (Santo Estvo e Triana)                          40
Arranh                                                   38
Cardosas                                                 37
Manique do Intendente, V.N.de S.Pedro e Maussa           36
Vermelha                                                 24
Azueira e Sobral da Abelheira                            23
Meca                                                     22
Alhandra, So Joo dos Montes e Calhandriz                 22
Sapataria                                                22
Santo Quintino                                           21
Castanheira do Ribatejo e Cachoeiras                     15
Arruda dos Vinhos                                        14
Malveira e So Miguel de Alcaina                          12
Vila Verde dos Francos                                   10
Vilar                                                     9
Freiria                                                   7
Moita dos Ferreiros                                       7
Azambuja                                                  7
Vale do Paraso                                            6
Aveiras de Baixo                                          5
Abrigada e Cabanas de Torres                              4
Carregado e Cadafais                                      2
Name: number_of_reviews, dtype: int64

In [101]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8870230 entries, 0 to 8870229
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 473.7+ MB

In [102]:
listings_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24302 non-null  int64
 1   name                            24283 non-null  object
 2   host_id                         24302 non-null  int64
 3   host_name                       24301 non-null  object
 4   neighbourhood_group             24302 non-null  object
 5   neighbourhood                   24302 non-null  object
 6   latitude                        24302 non-null  float64
 7   longitude                       24302 non-null  float64
 8   room_type                       24302 non-null  object
 9   price                           24302 non-null  int64
 10  minimum_nights                  24302 non-null  int64
 11  number_of_reviews               24302 non-null  int64
 12  last_review                     20075 non-null  datetime64[ns]
 13  reviews_per_month               20075 non-null  float64
 14  calculated_host_listings_count  24302 non-null  int64
 15  availability_365                24302 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 3.0+ MB

In [112]:
# lis_cal = calendar.merge(listings_two, on='id')
lis_cal = pd.merge(listings_two, calendar, how='left', left_on='id', right_on='listing_id')
lis_cal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8870230 entries, 0 to 8870229
Data columns (total 23 columns):
 #   Column                          Dtype
---  ------                          -----
 0   id                              int64
 1   name                            object
 2   host_id                         int64
 3   host_name                       object
 4   neighbourhood_group             object
 5   neighbourhood                   object
 6   latitude                        float64
 7   longitude                       float64
 8   room_type                       object
 9   price_x                         int64
 10  minimum_nights_x                int64
 11  number_of_reviews               int64
 12  last_review                     datetime64[ns]
 13  reviews_per_month               float64
 14  calculated_host_listings_count  int64
 15  availability_365                int64
 16  listing_id                      int64
 17  date                            datetime64[ns]
 18  available                       object
 19  price_y                         object
 20  adjusted_price                  object
 21  minimum_nights_y                float64
 22  maximum_nights                  float64
dtypes: datetime64[ns](2), float64(5), int64(8), object(8)
memory usage: 1.6+ GB

# places where booked

In [129]:
neigh_f = lis_cal.groupby(['available', 'neighbourhood']).count()[['listing_id']].sort_values(by='listing_id', ascending=False).reset_index()
neigh_f.loc[neigh_f['available']=='f']

    available                                      neighbourhood  listing_id
3           f                                  Santa Maria Maior      407777
4           f                                            Arroios      362547
5           f                                        Misericrdia      353370
10          f                                  Cascais e Estoril      217121
11          f                                       Santo Antnio      202018
12          f                                         So Vicente      187460
14          f                                            Estrela      158668
17          f                                     Avenidas Novas      139749
20          f                                           Ericeira      108404
21          f                                     Penha de Frana       92186
29          f                                            Areeiro       71632
30          f  S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim       68833
31          f                                   Campo de Ourique       63280
32          f                                Carcavelos e Parede       59751
33          f                                    Parque das Naes       56330
36          f                                            Colares       48752
38          f                                               Belm       46052
39          f                                             Lumiar       45611
41          f                                           Alcntara       44632
43          f                                           Alvalade       42469
44          f   Oeiras e S.Julio da Barra, Pao de Arcos e Caxias       38813
48          f                                        Alcabideche       33026
49          f                                  Lourinh e Atalaia       31543
50          f                             So Domingos de Benfica       30288
52          f                                            Olivais       28553
53          f                                              Ajuda       27981
54          f                                      Santo Isidoro       27255
58          f                                          Campolide       23912
64          f        Algs, Linda-a-Velha e Cruz Quebrada-Dafundo       18190
65          f                       So Joo das Lampas e Terrugem       16272
67          f                                            Marvila       15728
68          f                                            Benfica       15612
69          f                                          Carvoeira       14831
70          f                                Moscavide e Portela       14670
73          f                                              Beato       13989
75          f                           A dos Cunhados e Maceira       13292
77          f                                           Odivelas       12442
80          f                               Algueiro-Mem Martins       10174
81          f                                            Carnide        9844
84          f                                           Silveira        8960
85          f                                              Mafra        8953
88          f                                        guas Livres        7312
92          f                                     Queluz e Belas        6329
99          f                                       Rio de Mouro        5583
100         f                                           Encarnao        5535
101         f                                Carnaxide e Queijas        5382
104         f                                     Encosta do Sol        5109
110         f                               Sacavm e Prior Velho        4692
111         f                                So Domingos de Rana        4609
114         f                               Massam e Monte Abrao        4495
118         f                                        Santa Clara        4063
119         f                                    Ramada e Caneas        4054
123         f                              Falagueira-Venda Nova        3741
125         f                                           Venteira        3486
127         f                                   Cacm e So Marcos        3456
130         f                            Igreja Nova e Cheleiros        3175
131         f                    Alenquer (Santo Estvo e Triana)        2988
133         f                                Vila Franca de Xira        2962
134         f                                   Pontinha e Fames        2906
135         f                                        Mina de gua        2876
137         f                 So Bartolomeu dos Galegos e Moledo        2865
140         f                                So Pedro da Cadeira        2736
143         f                 Pvoa de Santa Iria e Forte da Casa        2580
146         f                                Cadaval e Pro Moniz        2468
148         f    Santa Iria de Azoia, So Joo da Talha e Bobadela        2371
150         f    Enxara do Bispo, Gradil e Vila Franca do Rosrio        2261
151         f                              Agualva e Mira-Sintra        2242
153         f                        Campelos e Outeiro da Cabea        2045
155         f  S.Pedro e Santiago, S.Maria e S.Miguel, e Mataces        2002
156         f                                          Alfragide        1995
160         f         Aldeia Galega da Merceana e Aldeia Gavinha        1914
161         f                                             Loures        1889
162         f                                          Barcarena        1876
165         f                                           Turcifal        1781
166         f              Pvoa de Santo Adrio e Olival de Basto        1776
167         f                   Alverca do Ribatejo e Sobralinho        1727
168         f                                     Lamas e Cercal        1666
169         f                                    Casal de Cambra        1633
170         f              Santo Antnio dos Cavaleiros e Frielas        1591
171         f                                 Dois Portos e Runa        1514
175         f                                    Reguengo Grande        1374
177         f                              Miragaia e Marteleira        1369
180         f                                            Bucelas        1193
182         f       Almargem do Bispo, Pro Pinheiro e Montelavar        1130
183         f                                        Porto Salvo        1128
184         f                           Camarate, Unhos e Apelao        1049
187         f                                           Azambuja         989
188         f                             Vila Verde dos Francos         987
189         f                               Carregado e Cadafais         975
191         f                                              Vilar         911
194         f                                            Ribamar         881
202         f                       Abrigada e Cabanas de Torres         693
203         f                                            Ventosa         689
206         f                                 Carvoeira e Carmes         633
207         f                                            Olhalvo         576
209         f           Venda do Pinheiro e Santo Estvo das Gals         561
210         f                                    Aveiras de Cima         550
212         f                                       Santa Brbara         500
213         f                                     Santo Quintino         500
215         f                                              Peral         483
216         f                      Azueira e Sobral da Abelheira         453
218         f                             Maxial e Monte Redondo         448
219         f                                            Carnota         435
220         f     Manique do Intendente, V.N.de S.Pedro e Maussa         433
222         f                    Malveira e So Miguel de Alcaina         377
224         f                                              Lousa         363
227         f                                           Vialonga         313
228         f                                Moita dos Ferreiros         307
229         f                                            Vimeiro         306
231         f                                 Painho e Figueiros         301
232         f                                          Alcoentre         293
233         f                                  Arruda dos Vinhos         282
234         f                                           Vermelha         247
235         f                                             Arranh         244
236         f                              Sobral de Monte Agrao         226
237         f                    Ribafria e Pereiro de Palhacana         212
238         f                                                Ota         209
239         f                                               Meca         204
241         f                                          Sapataria         165
243         f           Alhandra, So Joo dos Montes e Calhandriz         148
244         f                                           Ramalhal         143
246         f                                           Cardosas          60
247         f                                     Vale do Paraso          47
248         f               Castanheira do Ribatejo e Cachoeiras          44
249         f                                            Freiria          42
251         f                                   Aveiras de Baixo          21

In [53]:
mask2 = (listings_two['last_review'] > '2018-6-5') & (listings_two['last_review'] <= '2019-6-5')
listings_two[mask2]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
18,65878,Caetanos Loft,322145,João,Lisboa,Misericrdia,38.71191,-9.14632,Entire home/apt,80,2,53,2018-09-13,0.48,1,211
28,89015,GREAT LUXURY HOUSE IN THE CENTER,485573,Justo,Lisboa,Misericrdia,38.71240,-9.14989,Entire home/apt,125,3,28,2019-01-04,0.26,1,349
29,90931,NORONHA apartment - BAIRRO ALTO,184400,Justostay,Lisboa,Santo Antnio,38.71767,-9.15262,Entire home/apt,120,3,16,2018-07-25,0.16,8,364
32,97503,Lovely equipped flat in city centre,515924,Joel,Lisboa,Santo Antnio,38.72024,-9.14317,Private room,22,20,41,2018-06-27,0.38,10,154
35,105560,Cozy room near the beach,547928,Paula,Cascais,Cascais e Estoril,38.70035,-9.38247,Private room,30,2,15,2018-10-31,0.64,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19544,34900796,Premium 1BR | Downtown | Elevator | Daily HSK ...,263048047,Porta Do Mar,Lisboa,Santa Maria Maior,38.70996,-9.13492,Entire home/apt,100,1,1,2019-06-01,0.08,1,365
19545,34901212,Premium Studio | Downtown | Elevator | Daily HSK,263050252,Porta Do Mar,Lisboa,Santa Maria Maior,38.70992,-9.13463,Entire home/apt,100,1,1,2019-05-25,0.08,1,354
19571,34938040,Quarto em apartamento em região Central de Lisboa,88759063,Rogerio Tadeu,Lisboa,So Domingos de Benfica,38.73858,-9.16367,Private room,45,1,1,2019-06-02,0.08,1,179
19658,35105618,"campo pequeno旁,独立房间2",48179915,Wayne,Lisboa,Avenidas Novas,38.74101,-9.14378,Private room,35,2,1,2019-06-02,0.08,5,0
19737,35229855,CITY INN APARTMENTS LISBON,86763396,Jay,Lisboa,Santa Maria Maior,38.71426,-9.13561,Entire home/apt,99,1,1,2019-06-02,0.08,3,365

In [54]:
mask3 = (listings_two['last_review'] > '2017-6-5') & (listings_two['last_review'] <= '2018-6-5')
listings_two[mask3]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
21,83615,Sleep 4 - Tram 28 - 302/AL,184400,Justostay,Lisboa,Estrela,38.71255,-9.16001,Entire home/apt,85,3,18,2018-04-30,0.18,8,341
109,212549,Awesome reviews - historic center,1096085,Carla,Lisboa,Misericrdia,38.71322,-9.14658,Entire home/apt,80,2,182,2017-10-04,1.72,1,0
117,222942,Quarto com muita luz,1157493,Lígia,Lisboa,Arroios,38.73194,-9.13383,Private room,60,1,4,2018-04-29,0.10,1,365
118,224040,Room with a view,1165468,Nuno,Lisboa,Misericrdia,38.70960,-9.14686,Private room,55,3,11,2017-12-31,0.10,2,62
149,263399,Cosy Apartment in Lisbon 3 bedrooms,405842,Augusto,Lisboa,Campolide,38.72732,-9.16373,Entire home/apt,90,28,20,2018-03-27,0.21,7,248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13557,24870457,Quarto Amoreiras,188013825,Campolide,Lisboa,Campolide,38.72742,-9.16501,Private room,55,1,1,2018-05-12,0.04,2,269
13570,24889064,Conforto nas férias,132952310,Diogo,Amadora,Mina de gua,38.76708,-9.22908,Private room,30,1,1,2018-05-07,0.04,1,0
13611,24944252,Quinta do Pé Descalço - Sintra | Quarto Ribafria,188008860,Patricia,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.81648,-9.38122,Private room,90,2,1,2018-05-23,0.04,5,350
13613,24949072,Over the rooftops of Bairro Alto,38001829,Anna,Lisboa,Misericrdia,38.71073,-9.14312,Entire home/apt,48,2,1,2018-05-09,0.04,1,0
13717,25102544,Casa das Barcas - Suite Fragata,189742392,Vera,Lourinh,Lourinh e Atalaia,39.22991,-9.33718,Private room,85,1,1,2018-05-18,0.04,8,177

In [55]:
mask4 = (listings_two['last_review'] > '2016-6-5') & (listings_two['last_review'] <= '2017-6-5')
listings_two[mask4]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
155,272947,Charming Central Lisbon Apartment,1428237,Belinda,Lisboa,Estrela,38.71515,-9.15826,Entire home/apt,80,3,7,2017-04-18,0.07,1,0
184,311040,até 4 p Alfama - Sé de Lisboa I,1599678,Patrícia,Lisboa,Santa Maria Maior,38.71246,-9.12891,Entire home/apt,85,3,1,2017-04-10,0.03,3,357
185,311047,Central - Alfama - Sé de Lisboa II,1599678,Patrícia,Lisboa,Santa Maria Maior,38.71211,-9.12819,Entire home/apt,57,2,3,2016-06-19,0.05,3,364
232,408367,Cool and Central Apartment,341233,Ricardo,Lisboa,Lumiar,38.76083,-9.17456,Entire home/apt,42,4,13,2016-12-26,0.15,1,362
236,418945,Nice view over Tagus River @ Lisboa,2083563,Manuel,Lisboa,Belm,38.70977,-9.20967,Private room,110,1,2,2016-07-10,0.03,3,186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8689,18085868,Joyful flat in the heart of Alfama,60980399,Jean-François,Lisboa,Santa Maria Maior,38.70986,-9.13032,Entire home/apt,47,1,3,2017-05-01,0.08,1,0
8958,18458294,Modern room in centre of Lisbon!,90756433,João,Lisboa,Arroios,38.72602,-9.14270,Private room,25,2,2,2017-05-31,0.05,1,157
10109,19898625,Apartment in Lisbon 302 - Alfama,140893245,TravelingToLisbon,Lisboa,Santa Maria Maior,38.71108,-9.13061,Entire home/apt,65,2,1,2017-05-24,0.03,61,364
10112,19898638,TravelingToLisbon 308 - Marquês de Pombal,140893245,TravelingToLisbon,Lisboa,Santo Antnio,38.71736,-9.14661,Entire home/apt,60,3,1,2017-04-16,0.03,61,364
10556,20406956,Alfama River Apartment IV,145121742,Centrallisbon,Lisboa,Santa Maria Maior,38.71276,-9.12350,Entire home/apt,75,2,1,2016-08-02,0.02,7,340

In [58]:
mask5 = (listings_two['last_review'] > '2015-6-5') & (listings_two['last_review'] <= '2016-6-5')
listings_two[mask5].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 49 to 5520
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              118 non-null    int64
 1   name                            118 non-null    object
 2   host_id                         118 non-null    int64
 3   host_name                       118 non-null    object
 4   neighbourhood_group             118 non-null    object
 5   neighbourhood                   118 non-null    object
 6   latitude                        118 non-null    float64
 7   longitude                       118 non-null    float64
 8   room_type                       118 non-null    object
 9   price                           118 non-null    int64
 10  minimum_nights                  118 non-null    int64
 11  number_of_reviews               118 non-null    int64
 12  last_review                     118 non-null    datetime64[ns]
 13  reviews_per_month               118 non-null    float64
 14  calculated_host_listings_count  118 non-null    int64
 15  availability_365                118 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 15.7+ KB

In [59]:
mask6 = (listings_two['last_review'] > '2014-6-5') & (listings_two['last_review'] <= '2015-6-5')
listings_two[mask6].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 156 to 3140
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              28 non-null     int64
 1   name                            28 non-null     object
 2   host_id                         28 non-null     int64
 3   host_name                       28 non-null     object
 4   neighbourhood_group             28 non-null     object
 5   neighbourhood                   28 non-null     object
 6   latitude                        28 non-null     float64
 7   longitude                       28 non-null     float64
 8   room_type                       28 non-null     object
 9   price                           28 non-null     int64
 10  minimum_nights                  28 non-null     int64
 11  number_of_reviews               28 non-null     int64
 12  last_review                     28 non-null     datetime64[ns]
 13  reviews_per_month               28 non-null     float64
 14  calculated_host_listings_count  28 non-null     int64
 15  availability_365                28 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 3.7+ KB

In [60]:
mask7 = (listings_two['last_review'] > '2013-6-5') & (listings_two['last_review'] <= '2014-6-5')
listings_two[mask7].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 238 to 1579
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              11 non-null     int64
 1   name                            11 non-null     object
 2   host_id                         11 non-null     int64
 3   host_name                       11 non-null     object
 4   neighbourhood_group             11 non-null     object
 5   neighbourhood                   11 non-null     object
 6   latitude                        11 non-null     float64
 7   longitude                       11 non-null     float64
 8   room_type                       11 non-null     object
 9   price                           11 non-null     int64
 10  minimum_nights                  11 non-null     int64
 11  number_of_reviews               11 non-null     int64
 12  last_review                     11 non-null     datetime64[ns]
 13  reviews_per_month               11 non-null     float64
 14  calculated_host_listings_count  11 non-null     int64
 15  availability_365                11 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 1.5+ KB

In [61]:
mask8 = (listings_two['last_review'] > '2012-6-5') & (listings_two['last_review'] <= '2013-6-5')
listings_two[mask8].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 56 to 618
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3 non-null      int64
 1   name                            3 non-null      object
 2   host_id                         3 non-null      int64
 3   host_name                       3 non-null      object
 4   neighbourhood_group             3 non-null      object
 5   neighbourhood                   3 non-null      object
 6   latitude                        3 non-null      float64
 7   longitude                       3 non-null      float64
 8   room_type                       3 non-null      object
 9   price                           3 non-null      int64
 10  minimum_nights                  3 non-null      int64
 11  number_of_reviews               3 non-null      int64
 12  last_review                     3 non-null      datetime64[ns]
 13  reviews_per_month               3 non-null      float64
 14  calculated_host_listings_count  3 non-null      int64
 15  availability_365                3 non-null      int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 408.0+ bytes

In [62]:
mask9 = (listings_two['last_review'] > '2011-6-5') & (listings_two['last_review'] <= '2012-6-5')
listings_two[mask9].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 6 to 6
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1 non-null      int64
 1   name                            1 non-null      object
 2   host_id                         1 non-null      int64
 3   host_name                       1 non-null      object
 4   neighbourhood_group             1 non-null      object
 5   neighbourhood                   1 non-null      object
 6   latitude                        1 non-null      float64
 7   longitude                       1 non-null      float64
 8   room_type                       1 non-null      object
 9   price                           1 non-null      int64
 10  minimum_nights                  1 non-null      int64
 11  number_of_reviews               1 non-null      int64
 12  last_review                     1 non-null      datetime64[ns]
 13  reviews_per_month               1 non-null      float64
 14  calculated_host_listings_count  1 non-null      int64
 15  availability_365                1 non-null      int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 136.0+ bytes

## create a years list and counts list and add to axes of a plot

# how do I get the min and max price for entire home/apt?

In [97]:
# listings_two[mask].groupby(['room_type']).agg(np.mean)['price'].round(2)
# listings_two[mask].groupby(['room_type']).min
# listings_two[mask]['price'].mean().round(2)
listings_two.loc[listings_two['room_type']=='Entire home/apt']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6499,Belém 1 Bedroom Historical Apartment,14455,Bruno,Lisboa,Belm,38.69750,-9.19768,Entire home/apt,40,3,26,2020-01-03,0.37,1,340
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",107347,Ellie,Lisboa,Santa Maria Maior,38.71167,-9.12696,Entire home/apt,60,3,113,2019-12-08,1.52,1,321
2,29248,Apartamento Alfama com vista para o rio!,125768,Bárbara,Lisboa,Santa Maria Maior,38.71272,-9.12628,Entire home/apt,60,1,321,2020-03-11,2.80,1,350
3,29396,Alfama Hill - Boutique apartment,126415,Mónica,Lisboa,Santa Maria Maior,38.71239,-9.12887,Entire home/apt,60,2,239,2020-03-15,2.45,2,296
4,29720,TheHOUSE - Your luxury home,128075,Francisco,Lisboa,Estrela,38.71195,-9.15877,Entire home/apt,1100,2,55,2020-03-15,0.48,2,322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24295,43563610,Light House BA,258617902,Susana,Lisboa,Misericrdia,38.71302,-9.14651,Entire home/apt,50,3,0,NaT,NaN,2,169
24296,43563882,New! MY LX FLAT Luxury Chiado Design Apartment,17125483,Patrícia,Lisboa,Misericrdia,38.70860,-9.14335,Entire home/apt,120,1,1,2020-05-30,1.00,25,351
24298,43563972,Ericeira Paradise Hostel&Suites,344546018,Ericeira Paradise,Mafra,Ericeira,38.97436,-9.41751,Entire home/apt,350,4,0,NaT,NaN,1,363
24299,43566725,Volkswagen Grand California - Mr.Vancamper,233442821,David,Lisboa,Olivais,38.76655,-9.12835,Entire home/apt,94,4,0,NaT,NaN,3,359
24300,43568507,"Confortável Autocaravana 6 lugares, enjoy Port...",13224750,Jorge Eduardo Andrade Da,Sintra,Rio de Mouro,38.79098,-9.32863,Entire home/apt,60,1,0,NaT,NaN,2,356

# number of reviews per neighbourhood
- use sum or count? * minimum nights * price

In [98]:
listings_two[mask].groupby(['neighbourhood']).count()['number_of_reviews'].sort_values(ascending=False)
# listings_two[mask].groupby(['neighbourhood']).agg(np.sum)['number_of_reviews'].sort_values(ascending=False)

neighbourhood
Santa Maria Maior                                    2892
Misericrdia                                          2363
Arroios                                              1589
So Vicente                                           1140
Santo Antnio                                         1071
Cascais e Estoril                                    1057
Estrela                                               821
Ericeira                                              544
Avenidas Novas                                        490
S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim     408
Penha de Frana                                        406
Colares                                               288
Campo de Ourique                                      262
Carcavelos e Parede                                   255
Areeiro                                               250
Belm                                                  248
Parque das Naes                                       239
Alcntara                                              230
Alvalade                                              178
Lourinh e Atalaia                                     145
Olivais                                               137
Ajuda                                                 137
Oeiras e S.Julio da Barra, Pao de Arcos e Caxias      134
Santo Isidoro                                         126
Campolide                                             110
Alcabideche                                           110
So Joo das Lampas e Terrugem                           97
So Domingos de Benfica                                 83
Carvoeira                                              80
Lumiar                                                 75
Algs, Linda-a-Velha e Cruz Quebrada-Dafundo            72
A dos Cunhados e Maceira                               67
Beato                                                  60
Moscavide e Portela                                    58
Silveira                                               48
Mafra                                                  45
Marvila                                                43
Benfica                                                43
Encarnao                                               40
Algueiro-Mem Martins                                   38
Queluz e Belas                                         33
Odivelas                                               32
Carnide                                                32
guas Livres                                            28
So Domingos de Rana                                    27
Rio de Mouro                                           24
So Pedro da Cadeira                                    21
Sacavm e Prior Velho                                   20
Massam e Monte Abrao                                   18
Carnaxide e Queijas                                    17
Lamas e Cercal                                         15
Vila Franca de Xira                                    15
Mina de gua                                            15
Santa Clara                                            14
Igreja Nova e Cheleiros                                13
S.Pedro e Santiago, S.Maria e S.Miguel, e Mataces      13
Pontinha e Fames                                       13
So Bartolomeu dos Galegos e Moledo                     12
Cacm e So Marcos                                       11
Pvoa de Santo Adrio e Olival de Basto                  10
Venteira                                                9
Santa Iria de Azoia, So Joo da Talha e Bobadela         9
Alenquer (Santo Estvo e Triana)                         9
Falagueira-Venda Nova                                   9
Ramada e Caneas                                         9
Loures                                                  9
Enxara do Bispo, Gradil e Vila Franca do Rosrio         8
Reguengo Grande                                         8
Encosta do Sol                                          8
Ribamar                                                 8
Pvoa de Santa Iria e Forte da Casa                      8
Alfragide                                               7
Ventosa                                                 7
Santo Antnio dos Cavaleiros e Frielas                   7
Barcarena                                               7
Agualva e Mira-Sintra                                   7
Santa Brbara                                            7
Cadaval e Pro Moniz                                     7
Porto Salvo                                             6
Venda do Pinheiro e Santo Estvo das Gals                6
Turcifal                                                6
Ramalhal                                                6
Miragaia e Marteleira                                   5
Casal de Cambra                                         5
Dois Portos e Runa                                      5
Bucelas                                                 4
Camarate, Unhos e Apelao                                4
Alverca do Ribatejo e Sobralinho                        4
Aldeia Galega da Merceana e Aldeia Gavinha              4
Sobral de Monte Agrao                                   4
Almargem do Bispo, Pro Pinheiro e Montelavar            4
Campelos e Outeiro da Cabea                             4
Ribafria e Pereiro de Palhacana                         3
Arranh                                                  3
Vila Verde dos Francos                                  3
Carvoeira e Carmes                                      3
Manique do Intendente, V.N.de S.Pedro e Maussa          3
Santo Quintino                                          3
Azueira e Sobral da Abelheira                           3
Azambuja                                                3
Vilar                                                   3
Vimeiro                                                 3
Carnota                                                 3
Abrigada e Cabanas de Torres                            2
Freiria                                                 2
Vermelha                                                2
Malveira e So Miguel de Alcaina                         2
Peral                                                   2
Lousa                                                   2
Meca                                                    2
Alhandra, So Joo dos Montes e Calhandriz                2
Maxial e Monte Redondo                                  2
Sapataria                                               2
Painho e Figueiros                                      2
Arruda dos Vinhos                                       2
Castanheira do Ribatejo e Cachoeiras                    1
Cardosas                                                1
Aveiras de Baixo                                        1
Vale do Paraso                                          1
Carregado e Cadafais                                    1
Moita dos Ferreiros                                     1
Name: number_of_reviews, dtype: int64

In [35]:
listings_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24302 non-null  int64
 1   name                            24283 non-null  object
 2   host_id                         24302 non-null  int64
 3   host_name                       24301 non-null  object
 4   neighbourhood_group             24302 non-null  object
 5   neighbourhood                   24302 non-null  object
 6   latitude                        24302 non-null  float64
 7   longitude                       24302 non-null  float64
 8   room_type                       24302 non-null  object
 9   price                           24302 non-null  int64
 10  minimum_nights                  24302 non-null  int64
 11  number_of_reviews               24302 non-null  int64
 12  last_review                     20075 non-null  datetime64[ns]
 13  reviews_per_month               20075 non-null  float64
 14  calculated_host_listings_count  24302 non-null  int64
 15  availability_365                24302 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 3.0+ MB

In [36]:
listings_two.groupby(['neighbourhood']).agg(np.sum).describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.260000e+02,1.260000e+02,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,4.353595e+09,1.830488e+10,7474.915485,-1774.904551,21513.412698,654.103175,7993.825397,220.818651,2861.333333,43109.603175
std,1.145758e+10,4.689039e+10,20349.080500,4815.447524,64485.172209,1661.044967,32166.081308,817.953695,10255.787694,125110.569032
min,3.752499e+06,1.186533e+07,38.974770,-34161.072190,70.000000,2.000000,1.000000,0.040000,1.000000,37.000000
25%,1.392032e+08,6.962922e+08,271.597178,-950.738523,486.750000,15.000000,54.000000,2.005000,11.000000,1319.500000
50%,4.975726e+08,2.499444e+09,779.702965,-182.761820,1548.500000,53.000000,210.500000,7.190000,66.000000,4626.000000
75%,2.337912e+09,1.110209e+10,3996.868360,-64.646800,12844.500000,391.750000,1848.500000,64.612500,613.750000,21247.000000
max,7.912594e+10,3.241754e+11,144785.037620,-8.888230,532481.000000,9501.000000,267606.000000,6630.080000,76223.000000,954617.000000

In [37]:
listings_two.groupby(['neighbourhood']).agg(np.sum)['number_of_reviews'].sort_values(ascending=False)

neighbourhood
Santa Maria Maior       267606
Misericrdia             202415
Arroios                  87770
So Vicente               83479
Santo Antnio             67073
                         ...
Ota                          3
Olhalvo                      3
Carregado e Cadafais         2
Alcoentre                    2
Aveiras de Cima              1
Name: number_of_reviews, Length: 126, dtype: int64

In [38]:
calendar.describe()

         listing_id  minimum_nights  maximum_nights
count  8.870230e+06    8.869861e+06    8.869861e+06
mean   2.257234e+07    3.664800e+00    8.944841e+05
std    1.213012e+07    1.597480e+01    4.301646e+07
min    6.499000e+03    1.000000e+00    1.000000e+00
25%    1.348852e+07    1.000000e+00    3.600000e+02
50%    2.298439e+07    2.000000e+00    1.125000e+03
75%    3.279901e+07    3.000000e+00    1.125000e+03
max    4.356874e+07    3.180000e+03    2.147484e+09

In [39]:
calendar.groupby('listing_id').mean()

            minimum_nights  maximum_nights
listing_id
6499                   3.0           365.0
25659                  3.0          1125.0
29248                  1.0          1125.0
29396                  2.0          1125.0
29720                  2.0           730.0
...                    ...             ...
43563899               3.0          1125.0
43563972               4.0          1125.0
43566725               4.0          1125.0
43568507               1.0          1125.0
43568745               1.0          1125.0

[24302 rows x 2 columns]

In [40]:
# df.info(verbose=True)

In [41]:
# df[['price_x','price_y']]

In [42]:
# df.groupby(['room_type_x']).count().sort_values(by='id',ascending=False)

In [43]:
# df.groupby(['room_type_x']).agg(np.median)[['price_y']].sort_values(by='price_y', ascending=False)

In [44]:
# df.groupby(['property_type']).count().sort_values(by='id', ascending=False)

In [45]:
# df.groupby(['property_type']).agg(np.mean).sort_values(by='id', ascending=False)

In [46]:
# df.info(verbose=True)

In [47]:
# df[['calculated_host_listings_count_x']]

In [48]:
listings_two.columns.values

array(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'], dtype=object)

In [49]:
listings_two.loc[listings_two['availability_365']>180].count()

id                                14913
name                              14904
host_id                           14913
host_name                         14913
neighbourhood_group               14913
neighbourhood                     14913
latitude                          14913
longitude                         14913
room_type                         14913
price                             14913
minimum_nights                    14913
number_of_reviews                 14913
last_review                       12478
reviews_per_month                 12478
calculated_host_listings_count    14913
availability_365                  14913
dtype: int64

In [50]:
listings_two[['host_id', 'calculated_host_listings_count']]

         host_id  calculated_host_listings_count
0          14455                               1
1         107347                               1
2         125768                               1
3         126415                               2
4         128075                               2
...          ...                             ...
24297    3849818                               1
24298  344546018                               1
24299  233442821                               3
24300   13224750                               2
24301    7584438                               3

[24302 rows x 2 columns]

In [51]:
listings_two.groupby(['host_id']).agg(np.mean)

,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_id,,,,,,,,,
14455,6499.0,38.697500,-9.197680,40.0,3.0,26.0,0.370,1.0,340.0
17096,18644258.0,38.708870,-9.147220,100.0,3.0,2.0,0.070,1.0,88.0
58150,34804018.5,38.714765,-9.143440,142.5,2.0,13.5,1.045,2.0,115.5
68805,18626026.5,38.705720,-9.159850,41.5,30.0,18.5,0.445,2.0,289.5
107347,25659.0,38.711670,-9.126960,60.0,3.0,113.0,1.520,1.0,321.0
...,...,...,...,...,...,...,...,...,...
346766646,43505523.0,38.710863,-9.133270,100.0,2.0,0.0,NaN,3.0,315.0
346766993,43485605.5,38.723785,-9.136305,160.0,1.0,0.0,NaN,2.0,361.5
346987534,43505592.0,38.701175,-9.195165,115.0,2.0,0.0,NaN,2.0,341.0
347120521,43514261.0,38.710860,-9.151570,80.0,2.0,0.0,NaN,1.0,330.0
347434480,43532870.0,38.714570,-9.132370,65.0,1.0,0.0,NaN,1.0,238.0

## count host listings

## Calculate total income