In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows=120

## Import Datasets

In [2]:
listings = pd.read_csv('../Lisbon-Portugal-data/listings.csv', low_memory=False)
listings_two = pd.read_csv('../Lisbon-Portugal-data/listings-2.csv')
calendar = pd.read_csv('../Lisbon-Portugal-data/calendar.csv', low_memory=False)
neighborhoods = pd.read_csv('../Lisbon-Portugal-data/neighbourhoods.csv')
# reviews = pd.read_csv('../Lisbon-Portugal-data/reviews.csv', low_memory=False)
# reviews_two = pd.read_csv('../Lisbon-Portugal-data/reviews-2.csv', low_memory=False)

## Examine Data

In [ ]:
listings.describe()

In [ ]:
listings.drop(['thumbnail_url', 'medium_url', 'xl_picture_url'], axis=1, inplace=True)

In [ ]:
listings.describe()

In [ ]:
listings.info()

In [ ]:
listings.info(verbose=True)

In [ ]:
listings['has_availability']
# if its booked can assume to show minimum if it has avail == f then booked

In [3]:
listings_two.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24302 non-null  int64
 1   name                            24283 non-null  object
 2   host_id                         24302 non-null  int64
 3   host_name                       24301 non-null  object
 4   neighbourhood_group             24302 non-null  object
 5   neighbourhood                   24302 non-null  object
 6   latitude                        24302 non-null  float64
 7   longitude                       24302 non-null  float64
 8   room_type                       24302 non-null  object
 9   price                           24302 non-null  int64
 10  minimum_nights                  24302 non-null  int64
 11  number_of_reviews               24302 non-null  int64
 12  last_review                     20075 non-null  object
 13  reviews_per_month               20075 non-null  float64
 14  calculated_host_listings_count  24302 non-null  int64
 15  availability_365                24302 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 3.0+ MB

In [4]:
listings_two.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.430200e+04,2.430200e+04,24302.000000,24302.000000,24302.000000,24302.000000,24302.000000,20075.000000,24302.000000,24302.000000
mean,2.257234e+07,9.490641e+07,38.755631,-9.202451,111.541848,3.391367,41.446054,1.385960,14.835322,223.512880
std,1.213037e+07,9.333440e+07,0.103688,0.110301,351.691298,16.272085,65.824770,1.411868,42.781736,135.147466
min,6.499000e+03,1.445500e+04,38.676080,-9.498520,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.348872e+07,1.521207e+07,38.711040,-9.218737,47.000000,1.000000,2.000000,0.290000,1.000000,97.000000
50%,2.298439e+07,5.937474e+07,38.717835,-9.146800,70.000000,2.000000,13.000000,0.890000,3.000000,269.000000
75%,3.279862e+07,1.610771e+08,38.739197,-9.134610,100.000000,3.000000,53.000000,2.100000,10.000000,351.000000
max,4.356874e+07,3.474345e+08,39.303670,-8.838270,10000.000000,1000.000000,877.000000,19.610000,336.000000,365.000000

In [5]:
listings.count()

id                                              24302
listing_url                                     24302
scrape_id                                       24302
last_scraped                                    24302
name                                            24283
summary                                         23382
space                                           19104
description                                     23980
experiences_offered                             24302
neighborhood_overview                           16602
notes                                           12599
transit                                         16325
access                                          13340
interaction                                     14543
house_rules                                     14160
thumbnail_url                                       0
medium_url                                          0
picture_url                                     24302
xl_picture_url                                      0
host_id                                         24302
host_url                                        24302
host_name                                       24301
host_since                                      24301
host_location                                   24263
host_about                                      14356
host_response_time                              17419
host_response_rate                              17419
host_acceptance_rate                            21757
host_is_superhost                               24301
host_thumbnail_url                              24301
host_picture_url                                24301
host_neighbourhood                              14881
host_listings_count                             24301
host_total_listings_count                       24301
host_verifications                              24302
host_has_profile_pic                            24301
host_identity_verified                          24301
street                                          24302
neighbourhood                                   17862
neighbourhood_cleansed                          24302
neighbourhood_group_cleansed                    24302
city                                            24157
state                                           23475
zipcode                                         23612
market                                          24298
smart_location                                  24302
country_code                                    24302
country                                         24302
latitude                                        24302
longitude                                       24302
is_location_exact                               24302
property_type                                   24302
room_type                                       24302
accommodates                                    24302
bathrooms                                       24277
bedrooms                                        24290
beds                                            24163
bed_type                                        24302
amenities                                       24302
square_feet                                       366
price                                           24302
weekly_price                                     1625
monthly_price                                    1415
security_deposit                                18548
cleaning_fee                                    19880
guests_included                                 24302
extra_people                                    24302
minimum_nights                                  24302
maximum_nights                                  24302
minimum_minimum_nights                          24302
maximum_minimum_nights                          24302
minimum_maximum_nights                          24302
maximum_maximum_nights                          24302
minimum_nights_avg_ntm                          24302
maximum_nights_avg_ntm                          24302
calendar_updated                                24302
has_availability                                24302
availability_30                                 24302
availability_60                                 24302
availability_90                                 24302
availability_365                                24302
calendar_last_scraped                           24302
number_of_reviews                               24302
number_of_reviews_ltm                           24302
first_review                                    20075
last_review                                     20075
review_scores_rating                            19894
review_scores_accuracy                          19881
review_scores_cleanliness                       19886
review_scores_checkin                           19875
review_scores_communication                     19880
review_scores_location                          19877
review_scores_value                             19875
requires_license                                24302
license                                         20984
jurisdiction_names                              17708
instant_bookable                                24302
is_business_travel_ready                        24302
cancellation_policy                             24302
require_guest_profile_picture                   24302
require_guest_phone_verification                24302
calculated_host_listings_count                  24302
calculated_host_listings_count_entire_homes     24302
calculated_host_listings_count_private_rooms    24302
calculated_host_listings_count_shared_rooms     24302
reviews_per_month                               20075
dtype: int64

In [ ]:
listings.columns

## check nulls

In [ ]:
# listings.isna()
# listings.isnull().sum()
# listings.isnull().values.any()
# listings.isnull().sum().sum()

In [ ]:
mask = listings.notna()
listings[mask]

In [ ]:
listings.head(10)

In [ ]:
listings_two.tail(10)

In [ ]:
listings_two.tail(10)

In [ ]:
listings_two.head(10)

In [ ]:
# df = listings.merge(listings_two, on='id')
# df

In [ ]:
# df.drop(['listing_url','scrape_id','last_scraped'], axis=1, inplace=True)

In [ ]:
# df.head(10)

In [20]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8870230 entries, 0 to 8870229
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 473.7+ MB

In [ ]:
calendar.date = pd.to_datetime(calendar.date)
## cast to datetime or int

In [ ]:
calendar.head()

In [19]:
calendar.describe()

         listing_id  minimum_nights  maximum_nights
count  8.870230e+06    8.869861e+06    8.869861e+06
mean   2.257234e+07    3.664800e+00    8.944841e+05
std    1.213012e+07    1.597480e+01    4.301646e+07
min    6.499000e+03    1.000000e+00    1.000000e+00
25%    1.348852e+07    1.000000e+00    3.600000e+02
50%    2.298439e+07    2.000000e+00    1.125000e+03
75%    3.279901e+07    3.000000e+00    1.125000e+03
max    4.356874e+07    3.180000e+03    2.147484e+09

In [ ]:
calendar['date'].max()
calendar['date'].min()
# can use these dates to calculate income, price * minimum nights where booked (available == f)
# where available is false = its booked
# check last update for dataset, find last update compare with already booked vs reservation
# get already booked from listings df

# 3,338,149 listings booked * (price * minimum nights)
### - set price as int? to multiply
### - price * 365 days? for max income?

In [22]:
# calendar[calendar['available']=='f'].agg(np.sum)['available']
# calendar.loc[calendar['available']=='t'].count()
# calendar.loc[calendar['available']=='f'].count()
calendar.groupby(['available']).count()

,listing_id,date,price,adjusted_price,minimum_nights,maximum_nights
available,,,,,,
f,3338149,3338149,3338097,3338097,3338134,3338134
t,5532081,5532081,5531938,5531938,5531727,5531727

In [28]:
calendar['minimum_nights']
calendar['maximum_nights']

2147483647.0

# merge listings and calendar?

In [6]:
listings_two.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.430200e+04,2.430200e+04,24302.000000,24302.000000,24302.000000,24302.000000,24302.000000,20075.000000,24302.000000,24302.000000
mean,2.257234e+07,9.490641e+07,38.755631,-9.202451,111.541848,3.391367,41.446054,1.385960,14.835322,223.512880
std,1.213037e+07,9.333440e+07,0.103688,0.110301,351.691298,16.272085,65.824770,1.411868,42.781736,135.147466
min,6.499000e+03,1.445500e+04,38.676080,-9.498520,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.348872e+07,1.521207e+07,38.711040,-9.218737,47.000000,1.000000,2.000000,0.290000,1.000000,97.000000
50%,2.298439e+07,5.937474e+07,38.717835,-9.146800,70.000000,2.000000,13.000000,0.890000,3.000000,269.000000
75%,3.279862e+07,1.610771e+08,38.739197,-9.134610,100.000000,3.000000,53.000000,2.100000,10.000000,351.000000
max,4.356874e+07,3.474345e+08,39.303670,-8.838270,10000.000000,1000.000000,877.000000,19.610000,336.000000,365.000000

In [7]:
listings_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24302 non-null  int64
 1   name                            24283 non-null  object
 2   host_id                         24302 non-null  int64
 3   host_name                       24301 non-null  object
 4   neighbourhood_group             24302 non-null  object
 5   neighbourhood                   24302 non-null  object
 6   latitude                        24302 non-null  float64
 7   longitude                       24302 non-null  float64
 8   room_type                       24302 non-null  object
 9   price                           24302 non-null  int64
 10  minimum_nights                  24302 non-null  int64
 11  number_of_reviews               24302 non-null  int64
 12  last_review                     20075 non-null  object
 13  reviews_per_month               20075 non-null  float64
 14  calculated_host_listings_count  24302 non-null  int64
 15  availability_365                24302 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 3.0+ MB

In [8]:
listings_two.last_review = pd.to_datetime(listings_two.last_review)
listings_two['last_review'].min()
listings_two['last_review'].max()
# check listings from 06-05-2019 to 06-05-2020 these are real booked: price * minimum nights
#compare against reserved from calendar: price * minimum nights

Timestamp('2020-06-05 00:00:00')

In [9]:
mask = (listings_two['last_review'] > '2019-6-5') & (listings_two['last_review'] <= '2020-6-5')
listings_two.loc[mask]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6499,Belém 1 Bedroom Historical Apartment,14455,Bruno,Lisboa,Belm,38.69750,-9.19768,Entire home/apt,40,3,26,2020-01-03,0.37,1,340
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",107347,Ellie,Lisboa,Santa Maria Maior,38.71167,-9.12696,Entire home/apt,60,3,113,2019-12-08,1.52,1,321
2,29248,Apartamento Alfama com vista para o rio!,125768,Bárbara,Lisboa,Santa Maria Maior,38.71272,-9.12628,Entire home/apt,60,1,321,2020-03-11,2.80,1,350
3,29396,Alfama Hill - Boutique apartment,126415,Mónica,Lisboa,Santa Maria Maior,38.71239,-9.12887,Entire home/apt,60,2,239,2020-03-15,2.45,2,296
4,29720,TheHOUSE - Your luxury home,128075,Francisco,Lisboa,Estrela,38.71195,-9.15877,Entire home/apt,1100,2,55,2020-03-15,0.48,2,322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24169,43355588,Quarto com Cama King Size,134533163,André,Lisboa,Beato,38.73448,-9.11330,Private room,25,1,1,2020-05-20,1.00,2,270
24200,43408245,CB LISBOA - SUNNY AND ELEGANT APARTMENT - LAPA V,318343650,Casa Boma,Lisboa,Estrela,38.71005,-9.15838,Entire home/apt,119,1,1,2020-05-25,1.00,9,309
24203,43409525,Sintra - Escape to Nature 1,7555035,Ana,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.80154,-9.39237,Private room,50,1,1,2020-05-24,1.00,5,340
24205,43410578,Sintra - Escape to Nature 5,7555035,Ana,Sintra,"S.Maria, S.Miguel, S.Martinho, S.Pedro Penaferrim",38.80035,-9.39256,Private room,50,1,2,2020-05-21,2.00,5,301
24296,43563882,New! MY LX FLAT Luxury Chiado Design Apartment,17125483,Patrícia,Lisboa,Misericrdia,38.70860,-9.14335,Entire home/apt,120,1,1,2020-05-30,1.00,25,351

# how do I get the min and max price for entire home/apt?

In [57]:
# listings_two[mask].groupby(['room_type']).agg(np.mean)['price'].round(2)
# listings_two[mask].groupby(['room_type']).min
# listings_two[mask]['price'].mean().round(2)
listings_two[['room_type', 'price']]

             room_type  price
0      Entire home/apt     40
1      Entire home/apt     60
2      Entire home/apt     60
3      Entire home/apt     60
4      Entire home/apt   1100
...                ...    ...
24297     Private room     35
24298  Entire home/apt    350
24299  Entire home/apt     94
24300  Entire home/apt     60
24301     Private room    200

[24302 rows x 2 columns]

# number of reviews per neighbourhood
- use sum or count? * minimum nights * price

In [29]:
listings_two[mask].groupby(['neighbourhood']).count()['number_of_reviews'].sort_values(ascending=False)
# listings_two[mask].groupby(['neighbourhood']).agg(np.sum)['number_of_reviews'].sort_values(ascending=False)

neighbourhood
Santa Maria Maior       2892
Misericrdia             2363
Arroios                 1589
So Vicente              1140
Santo Antnio            1071
                        ...
Cardosas                   1
Aveiras de Baixo           1
Vale do Paraso             1
Carregado e Cadafais       1
Moita dos Ferreiros        1
Name: number_of_reviews, Length: 121, dtype: int64

In [13]:
listings_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24302 non-null  int64
 1   name                            24283 non-null  object
 2   host_id                         24302 non-null  int64
 3   host_name                       24301 non-null  object
 4   neighbourhood_group             24302 non-null  object
 5   neighbourhood                   24302 non-null  object
 6   latitude                        24302 non-null  float64
 7   longitude                       24302 non-null  float64
 8   room_type                       24302 non-null  object
 9   price                           24302 non-null  int64
 10  minimum_nights                  24302 non-null  int64
 11  number_of_reviews               24302 non-null  int64
 12  last_review                     20075 non-null  datetime64[ns]
 13  reviews_per_month               20075 non-null  float64
 14  calculated_host_listings_count  24302 non-null  int64
 15  availability_365                24302 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 3.0+ MB

In [ ]:
listings_two.groupby(['neighbourhood']).agg(np.sum).describe()

In [ ]:
listings_two.groupby(['neighbourhood']).agg(np.sum)['number_of_reviews'].sort_values(ascending=False)

In [ ]:
calendar.describe()

In [ ]:
calendar.groupby('listing_id').mean()

In [ ]:
# df.info(verbose=True)

In [ ]:
# df[['price_x','price_y']]

In [ ]:
# df.groupby(['room_type_x']).count().sort_values(by='id',ascending=False)

In [ ]:
# df.groupby(['room_type_x']).agg(np.median)[['price_y']].sort_values(by='price_y', ascending=False)

In [ ]:
# df.groupby(['property_type']).count().sort_values(by='id', ascending=False)

In [ ]:
# df.groupby(['property_type']).agg(np.mean).sort_values(by='id', ascending=False)

In [ ]:
# df.info(verbose=True)

In [ ]:
# df[['calculated_host_listings_count_x']]

In [ ]:
listings_two.columns.values

In [12]:
listings_two.loc[listings_two['availability_365']>180].count()

id                                14913
name                              14904
host_id                           14913
host_name                         14913
neighbourhood_group               14913
neighbourhood                     14913
latitude                          14913
longitude                         14913
room_type                         14913
price                             14913
minimum_nights                    14913
number_of_reviews                 14913
last_review                       12478
reviews_per_month                 12478
calculated_host_listings_count    14913
availability_365                  14913
dtype: int64

In [ ]:
listings_two[['host_id', 'calculated_host_listings_count']]

In [ ]:
listings_two.groupby(['host_id']).agg(np.mean)

## count host listings

## Calculate total income